@charset "utf-8";

/* reset */
* {
  margin: 0;
  padding: 0;
}
.clear {
  clear: both;
}
.serif {
  font-family: 'Lora', serif;
}
.serif_kr {
  font-family: 'Noto Serif KR', serif;
}
.sans {
  font-family: 'Noto Sans KR', sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: currentColor;
}

/* mobile----------- */

  /* ----------------------------wrap */
  .wrap {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
  }

  /* -----------------------------logo */
  .logo {
    width: 100%;
  }
  .logo > .box {
    width: 130px;
    margin: 0 auto;
    padding: 11px 0 8px 0;

    color: white;
    text-align: center;
  }
  .logo > .box > a > p:first-child {
    font-size: 1.1em;
    letter-spacing: -1px;
  }
  .logo > .box > a > p > span {
    font-size: 1.2em;
  }
  .logo > .box > a > p:last-child {
    font-size: 0.6em;
    letter-spacing: 6px;
  }
  /* ------------------------------title */
  .title {
    width: 100%;
    /* height: 109px; */
    box-sizing: border-box;
    padding: 30px 10px 18px 10px;
    text-align: center;
  }
  .title > h2 {
    padding-bottom: 6px;
    color: #a68c5d;
    font-size: 1.6em;
    font-weight: 500;
    letter-spacing: -1px;
  }
  .title > p {
    color: #5e5e5e;
    font-size: 0.9em;
    font-weight: 400;
    letter-spacing: -1px;
  }
  /* ------------------------------header */
  header {
    background-color: #212121;
    width: 100%;
    height: 60px;
  }
  header > .container {
    height: 59px;
    display: flex;
    flex-flow: row wrap;
    position: relative;
  }
  header > .container > .menu {
    position: absolute;
    top: 0;
    left: 0;

    width: 59px;
    height: 59px;
    
    box-sizing: border-box;
    padding-top: 25px;
    padding-left: 23px;
  }
  header > .container > .menu > div {
    background-color: white;
    width: 14px;
    height: 1px;
    margin-bottom: 4px;
  }
  header > .container > .book {
    position: absolute;
    top: 0;
    right: 0;

    background-color: #a68c5d;
    width: 59px;
    height: 59px;

    box-sizing: border-box;
    padding-top: 20px;
    color: white;
    text-align: center;
  }
  header > .line {
    background-color: #434343;
    width: 100%;
    height: 1px;
  }
  /* nav */
  header > div:nth-of-type(3) {
    display: none;
  }

  /* --------------------------------main */
  #main {
    width: 100%;
    height: 70vh;
    background-image: url("images/00main_2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #main > .container > div.serif {
    padding-top: 50vh;
    padding-left: 10%;
    font-size: 1.3em;
    font-weight: 700;
    color: white;
    text-shadow: 0 0 10px #000000;
  }
  /* form */
  #main > .container > form {
    display: none;
  }

  /* -------------------------------offers */
  .offers {
    width: 100%;
  }
  .offers > article {
    height: 320px;

    box-sizing: border-box;
    margin: 0 10px 20px 10px;
    border: 1px solid #e5e5e5;
  }
  .offers > article > .img {
    height: 225px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .offers > article:nth-of-type(1) > .img {
    background-image: url("images/01offers_1.jpg");
  }
  .offers > article:nth-of-type(2) > .img {
    background-image: url("images/01offers_2.jpg");
  }
  .offers > article:nth-of-type(3) > .img {
    background-image: url("images/01offers_3.jpg");
  }
  .offers > article > div:nth-of-type(2) {
    padding-top: 24px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 1em;
  }
  .offers > article > div > .serif {
    color: #a68c5d;
    font-weight: 500;
    letter-spacing: -1px;
  }
  .offers > article > div > p:nth-of-type(2) {
    color: #5e5e5e;
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: -1px;
  }
  /* offers date */
  .offers > article > div > p:last-child {
    display: none;
  }
  /* offers third */
  .offers > article:nth-of-type(3) {
    display: none;
  }

  /* dining */
  .dining {
    display: none;
  }

  /* -----------------------------------rooms */
  .rooms {
    background-color: #f6f3ee;
    width: 100%;
  }
  .rooms > .container > article > div.img {
    height: 320px;
    background-image: url("images/03rooms_1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .rooms > .container > article:last-of-type > div:nth-of-type(1) {
    padding: 24px 30px 0 30px;
  }
  .rooms > .container > article:last-of-type > div > p.serif {
    color: #a0a0a0;
    font-size: 1em;
    letter-spacing: -1px;
  }
  .rooms > .container > article:last-of-type > div > p:nth-of-type(2) {
    color: black;
    font-size: 1.4em;
    font-weight: 600;
    letter-spacing: -1px;
  }
  .rooms > .container > article:last-of-type > div > p:nth-of-type(3) {
    box-sizing: border-box;
    padding: 20px 0;

    color: #5e5e5e;
    font-size: 1em;
    font-weight: 300;
    line-height: 25px;
    letter-spacing: -1px;
  }
  .rooms > .container > article > div:nth-of-type(2) {
    text-align: center;
    padding-bottom: 30px;
  }
  .rooms > .container > article > div:nth-of-type(2) > a {
    background-color: #a68c5d;
    display: inline-block;
    width: 204px;
    height: 36px;
    padding-top: 14px;

    color: white;
    letter-spacing: -1px;
  }

  /* membership */
  .membership {
    display: none;
  }

  /* ---------------------------------location */
  .location {
    width: 100%;
    height: 440px;
  }
  .location > article {
    background-color: #f2ede7;
    height: 320px;
  }
  .location > article > iframe {
    width: 100%;
    height: 100%;
  }
  /* location_text */
  .location > article > .container > div {
    display: none;
  }

  /* ------------------------------------footer */
  footer {
    background-color: #212121;
    width: 100%;
  }
  footer > .container > .right {
    padding-top: 40px;
  }
  footer > .container > .right > div:nth-of-type(1) {
    margin: 0 auto;
    width: 110px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  footer > .container > .right > div > img {
    width: 30px;
  }
  footer > .container > .right > .logo > .box {
    padding-top: 10px;
  }
  footer > .container > .left {
    padding: 10px 30px;
    font-size: 0.8em;
  }
  footer > .container > .left > ul > li {
    display: inline-block;
    margin-right: 10px;

    color: white;
  }
  footer > .container > div.left > p {
    color: #727272;
    padding: 20px 0;
  }

/* mobile_end------------ */

@media screen and (min-width: 768px) and (max-width: 1199px)
{

  /* -----------------------------------main */
  #main {
    height: 60vh;
  }
  #main > .container > div.serif {
    padding-top: 40vh;
    font-size: 1.6em;
  }
  /* -----------------------------------offers */
  .offers {
    height: 454px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }
  .offers > article {
    width: 44%;
    margin: 0 0 25px 0;
  }
  /* -----------------------------------rooms */
  .rooms > .container {
    height: 454px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  .rooms > .container > article {
    width: 46%;
    margin: 0 0 25px 0;
  }
  .rooms > .container > article:last-of-type > div > p.serif {
    font-size: 1.2em;
  }
  .rooms > .container > article:last-of-type > div > p:nth-of-type(2) {
    font-size: 1.8em;
  }
  .rooms > .container > article:last-of-type > div > p:nth-of-type(3) {
    height: 160px;
  }
  /* ------------------------------------footer */
  footer > .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }
  footer > .container > div.left {
    order: 1;
    width: 60%;
    padding-top: 20px;
  }
  footer > .container > div.right {
    order: 2;
    width: 24%;
    padding-top: 20px;
  }

}

@media screen and (min-width: 1200px)
{
  /* ------------------------container */
  .container {
    width: 1200px;
    margin: 0 auto;
  }
  /* ---------------------------logo */
  .logo > .box {
    width: 250px;
    padding: 33px 0 17px 0;
  }
  .logo > .box > a > p:first-child {
    font-size: 1.9rem;
  }
  .logo > .box > a > p > span {
    font-size: 2.2rem;
  }
  .logo > .box > a > p:last-child {
    font-size: 0.8rem;
  }
  /* ------------------------------title */
  .title {
    padding: 46px 0 24px 0;
    padding-bottom: 24px;
  }
  .title > h2 {
    padding-bottom: 10px;
    font-size: 2.2rem;
  }
  .title > p {
    font-size: 1rem;
  }
  /* --------------------------header */
  header {
    height: 153px;
  }
  header > .container:first-child {
    box-sizing: border-box;
    height: 112px;
  }
  /* menu,book */
  header > .container > .menu {
    display: none;
  }
  header > .container > .book {
    display: none;
  }
  /* --------------------------header_nav */
  header > div:nth-of-type(3) {
    display: block;

    height: 40px;
    box-sizing: border-box;
  }
  header > div:nth-of-type(3) > nav > ul {
    display: flex;
    flex-flow: row wrap;
  }
  header > div:nth-of-type(3) > nav > ul > li {
    height: 100%;
    width: 16.6%;
    padding-top: 11px;
    padding-bottom: 11px;

    color: #bebebe;
    font-size: 0.9rem;
    text-align: center;
  }
  header > div:nth-of-type(3) > nav > ul > li:last-child {
    width: 17%;
    background-color: #a68c5d;
    color: white;
  }
  header > div:nth-of-type(3) > nav > ul > li:hover {
    background-color: #212121;
    color: white;
    box-sizing: border-box;
    border: 1px solid #a68c5d;
    padding-top: 10px;
    height: 40px;
  }
  /* ---------------------main */
  #main {
    height: 600px;
    background-image: url("images/00main_1.jpg");
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #main > .container > div.serif {
    padding-top: 360px;
    padding-left: 0;
    font-size: 2.6rem;
    font-weight: 500;
  }
  /* -------------------------form */
  /* 나중에 다시 정리할 예정... */
  #main > .container > form {
    display: block;

    background-color: white;
    width: 100%;
    height: 50px;
    margin-top: 35px;
  }
  #main > .container > form > ul > li > * {
    float: left;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    padding: 13px 0;
    text-align: center;
    color: #5e5e5e;
    font-size: 1rem;
    font-family: "Noto Sans KR", sans-serif;
  }
  #main > .container > form > ul > li > p {
    width: 5%;
  }
  #main > .container > form > ul > li:first-child > p {
    width: 8%;
    box-sizing: border-box;
    border-right: 1px solid #bebebe;
  }
  #main > .container > form > ul > li > input[type="date"] {
    width: 15%;
  }
  #main > .container > form > ul > li > input[type="number"] {
    width: 5%;
  }
  #main > .container > form > ul > li > label {
    width: 5%;
  }
  #main > .container > form > ul > li:nth-child(6) > label {
    box-sizing: border-box;
    border-right: 1px solid #bebebe;
  }
  #main > .container > form > ul > li > input[type="submit"] {
    padding: 14px 0;

    border: none;
    color: white;
    width: 17%;
    height: 50px;
    background-color: #212121;
  }
  #main > .container > form > ul > li > input[type="submit"]:hover {
    background-color: #a68c5d;
  }
  /* ------------------------offers */
  .offers {
    height: 600px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .offers > article {
    width: 31%;
    height: 400px;
    margin: 0 0 42px 0;
  }
  .offers > article:hover {
    transform: scale(1.02);
    border: 1px solid #bebebe;
  }
  .offers > article > .img {
    height: 258px;
  }
  /* -----------------offers date */
  .offers > article > div > p:last-child {
    display: block;
  }
  .offers > article > div > p:last-child {
    padding-top: 1rem;
    font-weight: 300;
    color: #5e5e5e;
  }
  /* -------------------offers third */
  .offers > article:nth-of-type(3) {
    display: block;
  }
  /* ---------------------------dining */
  .dining {
    display: block;

    width: 100%;
    height: 600px;
    background-color: #f5f5f5;
  }
  .dining > .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .dining > .container > article {
    background-color: white;
    width: 48.25%;
    height: 400px;

    box-sizing: border-box;
    border: 1px solid #e5e5e5;
  }
  .dining > .container > article:hover {
    transform: scale(1.02);
    border: 1px solid #bebebe;
  }
  .dining > .container > article > .img {
    height: 258px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .dining > .container > article:nth-of-type(1) > .img {
    background-image: url("images/02dining_6.jpg");
  }
  .dining > .container > article:nth-of-type(2) > .img {
    background-image: url("images/02dining_7.jpg");
  }
  .dining > .container > article > div:nth-of-type(2) {
    padding-top: 24px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 1em;
  }
  .dining > .container > article > div > .serif {
    color: #a68c5d;
    font-weight: 500;
    letter-spacing: -1px;
  }
  .dining > .container > article > div > p:nth-of-type(2) {
    color: #5e5e5e;
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: -1px;
  }
  .dining > .container > article > div > p:last-child {
    padding-top: 1rem;
    font-weight: 300;
    color: #5e5e5e;
  }

  /* ------------------------rooms */
  .rooms {
    background-color: white;
  }
  .rooms > .container {
    display: flex;
    flex-flow: row wrap;

    height: 600px;
  }
  .rooms > .container > article {
    background-color: #f6f3ee;
    width: 50%;
    height: 400px;
    margin: 0 0 25px 0;
  }
  .rooms > .container > article > div.img {
    height: 400px;
  }
  .rooms > .container > article:last-of-type > div:nth-of-type(1) {
    padding: 50px 46px 0 46px;
  }
  .rooms > .container > article:last-of-type > div > p.serif {
    font-size: 1.6rem;
  }
  .rooms > .container > article:last-of-type > div > p:nth-of-type(2) {
    font-size: 2rem;
  }
  .rooms > .container > article:last-of-type > div > p:nth-of-type(3) {
    height: 160px;
  }
  .rooms > .container > article > div:nth-of-type(2) > a:hover {
    background-color: #f6f3ee;
    border: 1px solid #a68c5d;
    padding-top: 13px;
    color: #a68c5d;
  }

  /* ---------------------membership */
  .membership {
    display: block;
    width: 100%;
    height: 340px;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('images/04member_1.jpg');
  }
  .membership > article > .title > p {
    color: #bebebe;
    font-weight: 200;
  }
  .membership > article > div {
    text-align: center;
  }
  .membership > article > div > a {
    display: inline-block;
    width: 202px;
    height: 36px;

    margin-top: 40px;
    border: 1px solid #a68c5d;
    padding-top: 12px;

    color: white;
    letter-spacing: -1px;
  }
  .membership > article > div > a:hover {
    background-color: #a68c5d;
  }

  /* -----------------------location */
  .location {
    height: 520px;
  }
  .location > article {
    height: 340px;
  }

  /* iframe 위로 안올라가서 일단 주석처리 */
  /* .location > article > .container > div {
    display: block;

    float: right;
    margin-top: 60px;
    width: 31%;
    height: 220px;
    background-color: #a68c5d;
  }
  .location > article > .container > div > p {
    color: white;
    text-align: center;
    font-weight: 300;
    letter-spacing: -1px;
  }
  .location > article > .container > div > p:first-child {
    padding: 35px 0;
    font-weight: 600;
    letter-spacing: 0;
  } */

  /* -------------------------footer */
  footer { 
    height: 180px;
  }
  footer > .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  footer > .container > div.left {
    order: 1;
    padding-top: 50px;
  }
  footer > .container > div.right {
    order: 2;
    padding-right: 61px;
  }

}