@charset "utf-8";

/* ---------------- 모든 페이지 공통 시작 ---------------- */
/* 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Pacifico&display=swap');

/* 컬러칩
   화이트 : #ffffff
   라이트 그레이 : #dcdcdc
   블랙 : #000000
   옐로우 : #ffd700
   네이비 : #1a2e42
   베이지 : #d1c0a5
*/

/* ================ 모바일 시작 ================ */

/* 폰트 사이즈 */
h2 {
  font-size: 26pt;
}
h3 {
  font-size: 20pt;
}
p {
  font-size: 11pt;
}
.strong {
  font-size: 15pt;
  font-weight: bold;
}

/* a태그를 밑줄없음, 현재 색상으로 설정 */
a {
  text-decoration: none;
  color: currentColor;
}

/* 버튼 스타일 */
button {
  cursor: pointer;
  display: inline-block;
  background: none;
  border: none;
}

/* 라벨에 커서 포인터 */
label {
  cursor: pointer;
}

/* input 체크박스와 라디오는 안보이게 숨김 */
input[type=checkbox],
input[type=radio]
{
  display: none;
}

/* img 태그와 클래스 img
   default: 
   포지션 중앙, 사이즈 세로맞춤, 반복없음 */
img, .img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* 전체를 감싸는 wrap */
.wrap {
  width: 100%;
  height: 100%;
}

/* 컨테이터 여백을 좌우 18px로 설정 */
.container {
  box-sizing: border-box;
  margin: 0 18px;
}

/* 가로로 배치하기 위한 flex 클래스 */
.flex {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
}

/* 텍스트 설정
   기본은 한글, 영문은 noto sans
   포인트 영문은 pacifico */
.sans {
  font-family: 'Noto Sans KR', sans-serif;
}
.pacifico {
  font-family: 'Pacifico', cursive;
}

/* 모바일 스크롤 표시 아이콘 화면 중앙 하단에 픽스
   위아래로 움직이는 애니메이션 scrollMove */
#mobile-scroll {
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%);

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 30px;
  
  font-size: 2rem;
  
  animation-name: scrollMove;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  
  z-index: 1;
}

#mobile-scroll i {
  padding: 6px 7px 3px 7px;
  transition: 0.5s;
}

/* 스크롤이 화면 맨 밑으로 가면 reverse 클래스가 추가되어
   아이콘이 위를 향하는 방향으로 회전
   클릭하면 맨 위로 올라감 */
#mobile-scroll i.reverse {
  cursor: pointer;
  transform: rotateX(180deg);
}

@keyframes scrollMove {
  0% {
    bottom: 50px;
  }
  100% {
    bottom: 65px;
  }
}

/* ---------------- 헤더 시작 ---------------- */

/* 헤더 사이즈, 배경색 설정 */
#header {
  background-color: #ffffff;
  width: 100%;
  height: 50px;
}

/* gnb-menu 체크박스가 체크되면 헤더가 고정되어 헤더 밖의 부분은 보이지 않음 (스크롤바는 움직이지만 밖은 안보임)
   모바일에서는 어차피 스크롤바가 안보임 */
#gnb-menu:checked ~ #header {
  position: fixed;
  z-index: 2;
}

/* gnb-menu 체크박스가 체크됐을 때
   내비를 노출 */
#gnb-menu:checked ~ #header>.nav {
  display: block;
}

/* gnb-menu 체크박스가 체크되면
   햄버거 모양이 X 모양으로 변경됨 */
#gnb-menu:checked ~ #header .gnb-shape.top {
  top: 50%;
  transform: rotate(45deg);
}
#gnb-menu:checked ~ #header .gnb-shape.mid {
  opacity: 0;
}
#gnb-menu:checked ~ #header .gnb-shape.bot {
  top: 50%;
  transform: rotate(-45deg);
}

/* 헤더를 가로로 배치하고 수직 정렬 */
#header .flex {
  justify-content: space-between;
  align-items: center;
}

/* gnb-menu라벨을 클릭하면 내비를 열고 닫음 */
#header .gnb-menu {
  width: 53px;
  height: 50px;
  padding: 18px;
  box-sizing: border-box;
}

/* gnb-box 스타일
   gnb-shape에 absulte를 설정하기 위해
   relative 설정  */
#header .gnb-box {
  position: relative;
  width: 17px; 
  height: 12px; 
}

/* gnb-shape 스타일 (삼선 햄버거 모양)
   check했을때 위치를 변경하기 위해 absolute 설정하고
   top으로 위치를 잡아줌 */
#header .gnb-shape {
  position: absolute;
  background-color: #000000;
  width: 17px;
  height: 2px;

  transition: 0.7s;
}
#header .gnb-shape.top {
  top: 0%;
}
#header .gnb-shape.mid {
  top: 50%;
}
#header .gnb-shape.bot {
  top: 100%;
}

/* 브랜드 로고 사이즈 */
#header .logo {
  font-size: 15pt;
}

/* 매장찾기 로고 스타일 */
#header .location {
  width: 50px;
  height: 50px;
  padding: 16px 0 0 18px;
  box-sizing: border-box;

  font-size: 1.1rem;
  transform: rotateY(0deg);
  transition: 0.7s;
}

/* 매장찾기 로고 hover하면 360도 y축으로 회전 */
#header .location:hover {
  transform: rotateY(360deg);
}

/* 내비 스타일
   높이는 전체에서 헤더 50px을 뺀 화면높이
   default : 숨김 */
#header .nav {
  display: none;
  background-color: #ffffff;
  width: 100%;
  height: calc(100vh - 50px);
}

/* 내비 안에 여백을 줌 */
#header .nav>.container {
  position: relative;

  box-sizing: border-box;
  padding: 35px 45px;
  margin: 0;
}

/* 가상 선택자::before를 사용해 
   내비 위에 헤더와 구분을 하기 위한
   라인을 그려줌 */
#header .nav>.container::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;

  background-color: #000000;
  width: 100%;
  height: 2px;
}

/* 내비 리스트 하단에 여백을 줌 */
#header .nav .list {
  padding-bottom: 20px;
}

/* 메인탭 폰트 설정 */
#header .nav a.main-tab {
  font-size: 20pt;
  font-weight: bold;
}

/* 메인탭 체크박스가 체크되면 서브탭 묶음이 노출 */
#header .nav #brand-tab:checked ~ div.sub-tabs {
  display: block;
}
#header .nav #board-tab:checked ~ div.sub-tabs {
  display: block;
}

/* 서브탭 묶음
   메인탭을 클릭하면 오픈된다
   defalt : 숨김 */
#header .nav div.sub-tabs {
  display: none;
  padding-left: 18px;
}

/* 서브탭 폰트 설정
   패딩값을 주고 가상선택자를 이용한 언더라인 효과를 위해
   display : inline-block으로 설정함 */
#header .nav a.sub-tab {
  display: inline-block;
  padding-top: 12px;
  font-size: 12pt;
  font-weight: bold;
}

/* 내비리스트 a태그에 가상선택자::before를 사용하고
   position: absolute를 사용해 위치를 잡아줌
   default: width: 0 */
#header .nav a {
  position: relative;
}
/* 텍스트가 위로 올라오게 하기위해
   span 태그로 감싸 position: relative로 설정 */
#header .nav a span {
  position: relative;
}
#header .nav a::before {
  content: "";
  position: absolute;
  top: 17px;
  left: -6px;
  background-color: #ffd700;

  width: 0;
  height: 7px;
  transform: skew(-30deg);
  transition: 0.7s;
}
#header .nav a.sub-tab::before {
  top: 17px;
}
/* 내비 리스트 a태그에 hover하거나,
   메인탭이 체크되면
   width: 100%로 언더라인이 그려지는 효과
   위치를 left: -6px로 주었기때문에
   너비에 12px을 더함 */
#header .nav a:hover::before {
  width: calc(100% + 12px);
}
#header .nav #brand-tab:checked + a::before {
  width: calc(100% + 12px);
}
#header .nav #board-tab:checked + a::before {
  width: calc(100% + 12px);
}
/* ---------------- 헤더 끝 ---------------- */

/* ================ 모바일 끝 ================ */








/* ================ PC 시작 ================ */
@media screen and (min-width: 1280px)
{

/* 폰트 사이즈 변경 */
h2 {
  font-size: 46px;
}
h3 {
  font-size: 28px;
}
.strong {
  font-size: 20px;
  font-weight: bold;
}

/* 전체를 감싸는 wrap
   최대 너비, 중앙 정렬 설정 */
.wrap {
  width: 1280px;
  margin: 0 auto;
}

/* 컨테이터 여백을 좌우 22px로 변경 */
.container {
  margin: 0 22px;
}

/* 모바일용 스크롤 표시 숨길지 말지 고민중 */
/* #mobile-scroll {
  display: none;
} */

/* ---------------- 헤더 시작 ---------------- */

/* 헤더 높이 변경 */
#header {
  position: relative;
  height: 60px;
}

/* gnb 열고 닫는 버튼 숨김 */
#header .gnb-menu {
  display: none;
}

/* 브랜드 로고 왼쪽에 여백 주기 */
#header .logo {
  padding-left: 22px;
}

/* 내비 항상 노출하고
   위치와 스타일 변경, 수직 정렬
   width를 100%로 하면 로고와 로케이션이 가려져서 width를 줄이고 left로 가운데로 이동 */
#header .nav {
  display: block;
  position: absolute;
  top: 0;
  left: 120px;

  background-color: rgba(0, 0, 0, 0);
  width: 1040px;
  height: 60px;
  line-height: 60px;
}

/* 내비 안에 여백 변경 */
#header .nav>.container {
  padding: 0;
  text-align: center;
}

/* 가상 선택자::before를 사용해 그린 라인 숨김 */
#header .nav>.container::before {
  display: none;
}

/* 내비 리스트 
   서브탭 absolute 위치 지정을 위해 부모에 relative를 줌
   inline-block으로 가로로 배치, 여백 변경 */
#header .nav .list {
  position: relative;
  display: inline-block;
  padding: 0 10px;
}

/* 메인탭 폰트 변경 */
#header .nav a.main-tab {
  display: inline-block;
  font-size: 15pt;
  font-weight: bold;
}

/* 메인탭 체크박스가 체크되면 서브탭 묶음이 노출 */
#header .nav #brand-tab:checked ~ div.sub-tabs {
  display: inline-block;
}
#header .nav #board-tab:checked ~ div.sub-tabs {
  display: inline-block;
}

/* 서브탭 묶음
   드롭 다운으로 만들기 위해 위치, 사이즈 변경 */
#header .nav div.sub-tabs {
  display: none;
  position: absolute;
  top: 60px;
  left: -65px;
  z-index: 1;

  background-color: rgba(255, 255, 255, 1);
  width: 160px;

  padding: 20px;
  line-height: 40px;
}

/* 서브탭 여백 변경 */
#header .nav a.sub-tab {
  padding: 0;
}

/* 내비리스트 a태그에 가상선택자::before
   언더라인 위치 조정 */
#header .nav a::before {
  top: 28px;
}

/* ---------------- 헤더 끝 ---------------- */

/* 미디어 쿼리 끝 */
}
/* ================ PC 끝 ================ */

/* ---------------- 모든 페이지 공통 끝 ---------------- */