/* ================ 모바일 시작 ================ */
/* ---------------- 메인 시작 ---------------- */

/* 메인 설정
   메인 슬라이드 탭의 위치를 absolute로 주기위해
   부모인 메인에 relative를 줌
   선택한 이미지 이외에는 안보이게 overflow: hidden을 줌 */
#main {
  position: relative;
  overflow: hidden;
  
  width: 100%;
  height: 450px;
}

/* 메인 이미지들을 담은 박스
   메인 이미지들의 위치를 absolute로 주기위해
   부모인 메인 이미지 박스에 relative를 줌
   메인 슬라이드 탭을 클릭할 때마다 좌우로 이동하여 다른 이미지를 보여줌 */
#main .main-img-box {
  position: relative;

  width: 100%;
  height: 100%;

  transition: 1.5s;
}

/* 메인 이미지 공통 설정 */
#main .main-img {
  position: absolute;
  width: 100%;
  height: 100%;
}
/* 메인 이미지 안에 h2 타이틀은 왼쪽 상단에 위치 */
#main .main-img h2 {
  padding: 5%;
}

/* 메인 이미지 1 */
#main .main-img:nth-of-type(1) {
  background-image: url('../images/main-1.jpg');
  top: 0;
  left: 0;
}
/* 메인 이미지 1의 타이틀 이미지 */
#main .main-img:nth-of-type(1) .main-img-title {
  background-image: url('../images/main-1-title.png');
  background-position: left;
  width: 70%;
  height: 50%;
  margin: 3%;
}
/* 메인 이미지 1의 텍스트 */
#main .main-img:nth-of-type(1) p:nth-of-type(1) {
  position: absolute;
  right: 5%;
  bottom: 120px;

  background-color: #00a5bd;
  padding: 10px 15px;
  border-radius: 30px;
  color: #ffffff;
}
#main .main-img:nth-of-type(1) p:nth-of-type(2) {
  position: absolute;
  right: 5%;
  bottom: 50px;

  color: #00a5bd;
  line-height: 23px;
  text-align: right;
}
#main .main-img:nth-of-type(1) p:nth-of-type(3) {
  position: absolute;
  left: 12%;
  top: 58%;

  color: #444;
  text-align: center;
}

/* 메인 이미지 2
   화면너비 만큼 오른쪽으로 이동 */
#main .main-img:nth-of-type(2) {
  background-image: url('../images/main-2.jpg');
  top: 0;
  left: 100%;
  color: white;
}

/* 메인 이미지 3
   화면너비 두배만큼 오른쪽으로 이동 */
#main .main-img:nth-of-type(3) {
  background-image: url('../images/main-3.jpg');
  top: 0;
  left: 200%;
}

/* 메인 슬라이드 탭
   메인 이미지 중앙 하단에 위치
   탭을 누르면 메인 이미지 박스가 좌우로 이동하여 해당 메인 이미지를 볼 수 있다 */
#main .main-tabs {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}
#main label {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.5);
  width: 20px;
  height: 8px;
  border-radius: 10px;
  margin-bottom: 10px;

  transition: 0.7s;
}

/* 메인 슬라이드 탭이 선택되거나 hover하면 투명도가 변경됨 */
#main input[id="main-tab1"]:checked ~ .main-tabs>label[for="main-tab1"], 
#main input[id="main-tab2"]:checked ~ .main-tabs>label[for="main-tab2"],
#main input[id="main-tab3"]:checked ~ .main-tabs>label[for="main-tab3"],
#main label:hover
{
  background-color: rgba(0, 0, 0, 1);
}

/* 메인 슬라이드 탭을 눌러 해당 메인 이미지를 슬라이드로 볼 수 있다 */
#main #main-tab1:checked ~ .main-img-box {
  left: 0;
}
#main #main-tab2:checked ~ .main-img-box {
  left: -100%;
}
#main #main-tab3:checked ~ .main-img-box {
  left: -200%;
}
/* ---------------- 메인 끝 ---------------- */

/* ---------------- 베스트 시작 ---------------- */

/* 베스트 섹션 크기 설정 */
#best {
  width: 100%;
  height: 300px;
}

/* 베스트 타이틀 */
#best .title.flex {
  justify-content: space-around;
  align-items: center;
  
  height: 65px;
  font-size: 15pt;
}

/* 베스트 타이틀의 좌우 버튼
   모바일은 노출안함 PC에서만 노출 */
#best .title.flex button {
  display: none;
}

/* 베스트 아이템들을 배치하는 컨테이너 */
#best .items.container {
  height: 167px;
}

/* 베스트 아이템들을
   가로로 3개를 중앙에 배치하기 위해
   너비는 삼등분  */
#best .item {
  box-sizing: border-box;
  width: calc(100% / 3);
  height: 100%;
  padding-top: 5px;

  text-align: center;
}

/* 베스트 아이템 4개 이상부터는 PC만 노출 */
#best .item:nth-of-type(4) {
  display: none;
}

/* 베스트 아이템의 이미지 크기 */
#best .item img {
  width: 108px;
  height: 108px;

  transition: 0.3s;
}

/* 베스트 아이템의 이미지 hover 했을때 크기 변경 */
#best .item img:hover {
  transform: scale(1.1);
}

/* 베스트 아이템의 텍스트(메뉴 이름)
   너비보다 길어지면 ...으로 텍스트 줄임 */
#best .item p {
  padding-top: 15px;
  font-size: 10pt;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 메뉴 전체보기 버튼 스타일 */
#best .all-menu button {
  background-color: black;
  width: 100%;
  height: 50px;
  color: white;
}

/* 메뉴 전체보기 버튼을 hover 했을때 색상변경 */
#best .all-menu button:hover {
  box-sizing: border-box;
  background-color: white;
  border: 1px solid black;
  color: black;
}

/* ---------------- 베스트 끝 ---------------- */

/* ---------------- 컨텐츠박스 PC에서만 노출 ---------------- */
#contents-box {
  display: none;
}

/* ---------------- 푸터 시작 ---------------- */

/* 푸터 스타일 설정 */
#footer {
  background-color: #000000;
  width: 100%;

  color: white;
  font-size: 10pt;
}

/* SNS 아이콘들 중앙정렬 */
#footer .sns-icon {
  text-align: center;
}

/* SNS 아이콘을 가로로 배치하기 위해 inline-block */
#footer .icon {
  display: inline-block;
  margin: 23px 15px;
}

/* SNS 아이콘 이미지 크기 */
#footer .icon img {
  width: 24px;
  height: 24px;

  transform: rotateY(0deg);
  transition: 0.7s;
}

/* SNS 아이콘 이미지 hover 하면 회전 */
#footer .icon img:hover {
  transform: rotateY(360deg);
}

/* 사이트 정보 텍스트 묶음
   하단 여백 지정
   중앙 정렬 */
#footer .container {
  padding-bottom: 30px;
  text-align: center;
}

/* 사이즈 정보 텍스트 위아래 여백 */
#footer p {
  padding: 10px 0;
  font-size: 10pt;
}

/* 사이트 정보 숨겨놓고
   체크박스 체크되면 노출 */
#footer .fold {
  display: none;
  color: #6e6e6e;
  line-height: 17px;
}
#footer_fold:checked ~ .fold {
  display: block;
}

/* ---------------- 푸터 끝 ---------------- */
/* ================ 모바일 끝 ================ */