/* ================ 모바일 시작 ================ */

/* ---------------- 커피 컨텐츠 시작 ---------------- */

/* 컨텐츠1 */
#coffee .content1 {
  height: 450px;
}
#coffee .content1 h2 {
  padding-top: 100px;
}
#coffee .content1 h4 {
  padding-top: 20px;
}
#coffee .content1 p {
  padding-top: 20px;
  line-height: 17px;
}

/* 컨텐츠2 */
#coffee .content2 {
  height: 225px;
}
#coffee .content2 .img {
  background-image: url('../images/coffee-1.jpg');
}

/* 컨텐츠3 */
#coffee .content3 {
  position: relative;
  overflow: hidden;
  height: 225px;
}
/* 컨텐츠3 텍스트 스타일
   배경에 회색으로 텍스트를 깔아줌 */
#coffee .content3 p {
  color: #ddd;
  font-size: 100pt;
  position: absolute;
  opacity: 50%;
}
#coffee .content3 p.left {
  top: 5%;
  left: -20px;
}
#coffee .content3 p.right {
  right: -20px;
  bottom: 5%;
}
#coffee .content3 .center {
  position: absolute;
  top: 30%;
  left: 60%;
}

/* 컨텐츠4 */
#coffee .content4 {
  height: 225px;
}
#coffee .content4 .img {
  background-image: url('../images/coffee-2.jpg');
}

/* 컨텐츠5 */
#coffee .content5 {
  background-color: #d1c0a5;
  height: 337.5px;
}
#coffee .content5 h2 {
  padding-top: 80px;
  padding-bottom: 20px;
}
/* 리스트 스타일 숫자 */
#coffee .content5 ol {
  list-style: decimal;
  padding-left: 18px;
}
#coffee .content5 .list {
  padding-top: 10px;
  line-height: 17px;
}

/* ---------------- 커피 컨텐츠 끝 ---------------- */

/* ================ 모바일 끝 ================ */