
/* ----------- 임시 적용 ----------- */

/* #header .nav.login {
  display: none;
} */

/* ----------- 헤더 ----------- */
/* .wrap {
  box-sizing: border-box;
  padding: 20px;
  margin: 0 auto;
} */
/* 가로로 배치하기 위해 flex */
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  /* padding: 20px;
  box-sizing: border-box; */
  /* margin: 20px 0; */



}
#header div {
  box-sizing: border-box;
  padding: 0 20px;
}
#header p {
  display: inline-block;
}
