@charset "utf-8";

/* ************************* 리스트 스타일 */
/* 전체 여백 */
.list_form {
  padding: 30px;
}
/* 리스트에 아이템이 없을 때 */
.list_form .no_item {
  padding: 15px;
  text-align: center;
}

/* 타이틀 */
.list_form h2 {
  position: relative;

  padding-left: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e7eaeb;
}
.list_form h3 {
  position: relative;

  padding-left: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e7eaeb;
}

/* 타이틀 밑에 블루 라인 */
.list_form h2::after {
  content: '';
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  
  width: 215px;
  height: 2px;
  background-color: #164ffa;
}
.list_form h3::after {
  content: '';
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  
  width: 150px;
  height: 2px;
  background-color: #164ffa;
}

/* 목록 배경색 */
.list_form>ul {
  padding: 20px;
}
/* 목록 스타일 (flex로 가로배치) */
.list_form>ul .list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  padding: 10px 30px;
  border-bottom: 1px solid #e7eaeb;
}
/* 목록 제목 스타일 */
.list_form>ul .list.sub {
  padding: 10px 30px;
  border: 1px solid #e7eaeb;
  border-radius: 10px;
}
.list_form>ul .list.sub>p {
  text-align: center !important;
}
/* 목록 요소 스타일, 영역 */
.list_form>ul .list>p {
  text-align: center;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 페이지 표시 */
.list_form .page {
  text-align: center;
}
.list_form .page p {
  display: inline-block;
  margin: 20px 10px;

  color: #9da1a7;
}
.list_form .page p:hover,
.list_form .page p.active
{
  color: #164ffa;
  font-weight: bold;
}

/* 하단 버튼 오른쪽 정렬 */
.list_form .btn {
  margin: 10px 0;
  text-align: right;
}

/* ************************* 메인 목록 요소 너비 */
#main>.list_form>ul .list>p {
  flex: 1;
}

/* ************************* 게시판 목록 요소 너비 */
#board_list.list_form>ul .list>p.number,
#board_list.list_form>ul .list>p.views
{
  width: 5%;
}
#board_list.list_form>ul .list>p.file,
#board_list.list_form>ul .list>p.id,
#board_list.list_form>ul .list>p.regist_day
{
  width: 10%;
}
#board_list.list_form>ul .list>p.subject {
  width: 60%;
  text-align: left;
}

/* ************************* 메세지 목록 요소 너비 */
#message_box.list_form>ul .list>p.number {
  width: 5%;
}
#message_box.list_form>ul .list>p.regist_day,
#message_box.list_form>ul .list>p.id
{
  width: 10%;
}
#message_box.list_form>ul .list>p.subject {
  width: 75%;
  text-align: left;
}

/* ************************* 관리자 모드 - 게시판 관리 목록 요소 너비 */
#admin_board.list_form>ul .list>p.number {
  width: 5%;
}
#admin_board.list_form>ul .list>p.id,
#admin_board.list_form>ul .list>p.name,
#admin_board.list_form>ul .list>p.file,
#admin_board.list_form>ul .list>p.regist_day
{
  width: 10%;
}
#admin_board.list_form>ul .list>p.check {
  width: 10%;
  overflow: unset;
}
#admin_board.list_form>ul .list>p.subject {
  width: 45%;
  text-align: left;
}

/* ************************* 관리자 모드 - 회원 관리 목록 요소 너비 */
#admin_member.list_form>ul .list>p.number,
#admin_member.list_form>ul .list>p.level,
#admin_member.list_form>ul .list>p.point,
#admin_member.list_form>ul .list>p.update,
#admin_member.list_form>ul .list>p.delete
{
  width: 10%;
}
#admin_member.list_form>ul .list>p.id,
#admin_member.list_form>ul .list>p.name
{
  width: 15%;
}
#admin_member.list_form>ul .list>p.regist_day {
  width: 20%;
}

/* ************************* 관리자모드 - 체크박스 스타일 */
/* 디폴트 체크박스와 새로 만든 체크박스를 감싸고 있는 라벨 */
.check label {
  display: inline-block;
  position: relative;
  padding: 0px;
  margin: 0px;

  cursor: pointer;
  font-size: 22px;
}
/* 브라우저의 디폴트 체크박스를 숨기기 */
.check input {
  display: none;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* 새로운 체크박스 만들기 */
.check .checkmark {
  position: absolute;
  top: -15px;
  left: -10px;
  height: 20px;
  width: 20px;
  background-color: #e7eaeb;
}
/* 체크박스가 체크되면 배경색 변경 */
.check input:checked ~ .checkmark {
  background-color: #164ffa;
}
/* 체크 아이콘 만들기 (체크 안되어있을때는 숨김) */
.check .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* 체크되면 체크 아이콘 노출 */
.check input:checked ~ .checkmark:after {
  display: block;
}
/* 체크 아이콘 스타일 */
.check  .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

/* ************************* 관리자모드 - input text 스타일 */
.list_form .list input[type=text],
.list_form .list input[type=button],
.list_form .list input[type=submit]
{
  cursor: pointer;
  display: inline-block;

  background-color: white;
  width: 60px;
  height: 25px;
  padding: 5px;
  border: 1px solid #ddd;
  
  line-height: 13px;
  text-align: center;
}