@charset "utf-8";

/* ----------- 짧은 폼 스타일 ----------- */
/* 사이드가 없는 경우 섹션의 너비를 100%로 설정 */
section {
  width: 100%;
  height: calc(100vh - 80px);
  padding: 30px;
  border-left: none;

  text-align: center;
}

/* 타이틀 */
.short_form h2 {
  padding-bottom: 20px;
  text-align: center;
}

/* input 스타일 */
.short_form .call_id,
.short_form input[name=id],
.short_form input[name=pass],
.short_form input[name=pass_confirm],
.short_form input[name=name],
.short_form input[name=email]
{
  display: block;

  background-color: #ffffff;
  width: 300px;
  padding: 15px;
  border: none;
  border-bottom: 1px solid #e7eaeb;
  margin: 10px auto;

  text-align: left;
  font-size: 13px;
  color: #02152a;
}

.short_form .point-btn,
.short_form .plus-btn
{
  width: 140px;
  margin: 0 5px;
}

.short_form .check
{
  display: block;
  width: 290px;
  margin: 10px auto;
}