
/* ----------- 임시 적용 ----------- */

/* 푸터는 아마 없을 예정이므로 숨겨둠 */
#footer {
  display: none;
}


/* ----------- 페이지 공통 ----------- */
body {
  max-width: 1280px;
  margin: 0 auto;
  border-left: 1px solid #e7eaeb;
  border-right: 1px solid #e7eaeb;
}

/* 텍스트 컬러 설정 */
div, p, input, textarea, h2, h3 {
  color: #02152a;
  font-family: 'Nanum Gothic', sans-serif;
}

/* 폰트 사이즈 설정 */
h2 {
  font-size: 28px;
  font-weight: 700;
}
h3 {
  font-size: 20px;
  font-weight: 700;
}
div, p, input, textarea {
  font-size: 13px;
}

/* 전체를 감싸는 wrap 스타일  */
.wrap {
  height: 100vh;
  width: 100%;
  
  display: flex;
  flex-flow: row wrap;
}


/* 텍스트 버튼 스타일 */
.text-btn {
  background-color: #ffffff;
  cursor: pointer;
  padding: 10px;
  border: none;

  font-size: 13px;
  color: #9da1a7;
}
.text-btn:hover {
  color: #164ffa;
}
/* 포인트 버튼 스타일 */
.point-btn {
  background-color: #164ffa;
  cursor: pointer;
  padding: 10px;
  border: 1px solid #164ffa;
  border-radius: 10px;

  font-size: 13px;
  color: #ffffff;
}
.point-btn:hover {
  background-color: #ffffff;
  border: 1px solid #164ffa;
  color: #164ffa;
}
/* 일반 버튼 스타일 */
.plus-btn {
  background-color: #ffffff;
  cursor: pointer;
  padding: 10px;
  border: 1px solid #e7eaeb;
  border-radius: 10px;

  font-size: 13px;
  color: #9da1a7;
}
.plus-btn:hover {
  border: 1px solid #164ffa;
  color: #164ffa;
}

/* 음각 스타일 */
.minus-style {
  background-color: white;
  padding: 15px;
  font-size: 13px;

  /* 표시용 수정해야함 */
  color: tomato;
}







/* ----------- 헤더 ----------- */

/* 가로로 배치하기 위해 flex */
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 80px;
  border-bottom: 1px solid #e7eaeb;
}
#header div {
  padding: 0 20px;
}
#header p {
  display: inline-block;
  color: #9da1a7;
}
#header div.logo i {
  color: #164ffa;
}
#header div.logo:hover i {
  color: #9da1a7;
}


/* 사이드 */
aside {
  width: 240px;
  height: calc(100% - 120px);
  margin: 0 10px 40px 10px;
}
/* 사이드 버튼 사이즈와 중앙정렬 */
aside [type=button] {
  display: block;
  width: 200px;
  margin: 20px auto;
}

/* 섹션 */
section {
  width: calc(100% - 280px);
  height: calc(100% - 80px);
  border-left: 1px solid #e7eaeb;
}
/* section {
} */

/* 메인 */
section#main {
  width: 100%;
  height: calc(100vh - 80px);
  border-left: none;
}

section#main article {
  float: left;
  width: 50%;
  height: 100%;
}
/* 메인 최신 게시글 오른쪽만 보더 */
section#main article.latest {
  border-right: 1px solid #e7eaeb;
}
section#main article ul {
  height: 303px;
}






/* 체크박스 스타일 */

/* 디폴트 체크박스와 새로 만든 체크박스를 감싸고 있는 라벨 */
.check label {
  display: inline-block;
  position: relative;
  padding: 0px;
  margin: 0px;

  cursor: pointer;
  font-size: 22px;
}

/* 브라우저의 디폴트 체크박스를 숨기기 */
.check input {
  display: none;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* 새로운 체크박스 만들기 */
.check .checkmark {
  position: absolute;
  top: -15px;
  left: -10px;
  height: 20px;
  width: 20px;
  background-color: #e7eaeb;
}

/* 체크박스가 체크되면 배경색 변경 */
.check input:checked ~ .checkmark {
  background-color: #164ffa;
}

/* 체크 아이콘 만들기 (체크 안되어있을때는 숨김) */
.check .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* 체크되면 체크 아이콘 노출 */
.check input:checked ~ .checkmark:after {
  display: block;
}

/* 체크 아이콘 스타일 */
.check  .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}




