@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

* {
	box-sizing: border-box;
}
body {
  max-width: 1280px;
  margin: 0 auto;
  border-left: 1px solid #e7eaeb;
  border-right: 1px solid #e7eaeb;
}
a {
  color: currentColor;
  text-decoration: none;
}
/* 텍스트 컬러 설정 */
div, p, input, textarea, h2, h3 {
  color: #02152a;
  font-family: 'Nanum Gothic', sans-serif;
}
/* 폰트 사이즈 설정 */
h2 {
  font-size: 28px;
  font-weight: 700;
}
h3 {
  font-size: 20px;
  font-weight: 700;
}
div, p, input, textarea {
  font-size: 13px;
  line-height: normal;
}
/* safari input default style 삭제 */
input, textarea {
  border: none;
  border-radius: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
}

/* 전체를 감싸는 wrap 스타일  */
.wrap {
  min-height: 100vh;
  width: 100%;
  
  display: flex;
  flex-flow: row wrap;
}

/* 텍스트 버튼 스타일 */
.text-btn {
  background-color: #ffffff;
  cursor: pointer;
  padding: 10px;
  border: none;

  font-size: 13px;
  color: #9da1a7;
}
.text-btn:hover {
  color: #164ffa;
}
/* 포인트 버튼 스타일 */
.point-btn {
  background-color: #164ffa;
  cursor: pointer;
  padding: 10px;
  border: 1px solid #164ffa;
  border-radius: 10px;

  font-size: 13px;
  color: #ffffff;
}
.point-btn:hover {
  background-color: #ffffff;
  border: 1px solid #164ffa;
  color: #164ffa;
}
/* 일반 버튼 스타일 */
.plus-btn {
  background-color: #ffffff;
  cursor: pointer;
  padding: 10px;
  border: 1px solid #e7eaeb;
  border-radius: 10px;

  font-size: 13px;
  color: #9da1a7;
}
.plus-btn:hover {
  border: 1px solid #164ffa;
  color: #164ffa;
}

/* ************************* 헤더  */
/* 가로로 배치하기 위해 flex */
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 80px;
  border-bottom: 1px solid #e7eaeb;
}
#header div {
  padding: 0 20px;
}
#header p {
  display: inline-block;
  color: #9da1a7;
}
#header div.logo i {
  color: #164ffa;
}
#header div.logo:hover i {
  color: #9da1a7;
}

/* ************************* 사이드 */
aside {
  width: 240px;
  height: calc(100% - 120px);
  margin: 0 10px 40px 10px;
}
/* 사이드 버튼 사이즈와 중앙정렬 */
aside [type=button] {
  display: block;
  width: 200px;
  margin: 20px auto;
}

/* ************************* 섹션 */
section {
  width: calc(100% - 280px);
  /* height: calc(100% - 80px); */
  min-height: 100vh;
  border-left: 1px solid #e7eaeb;
}

/* ************************* 메인 */
section#main {
  width: 100%;
  height: calc(100vh - 80px);
  border-left: none;
}
section#main article {
  float: left;
  width: 50%;
  height: 100%;
}
/* 메인 최신 게시글 오른쪽만 보더 */
section#main article.latest {
  border-right: 1px solid #e7eaeb;
}
section#main article ul {
  height: 303px;
}
