/* 탭 스타일 */
.tab {
  overflow: hidden;
  background-color: #F24444;
  border: 1px solid #ccc;
}

/* 탭 버튼 스타일
  버튼을 클릭하면 탭 컨텐츠가 열림 */
.tab button {
  cursor: pointer;
  float: left;
  
  background-color: inherit;
  padding: 14px 16px;
  border: none;
  outline: none;

  color: white;
  font-size: 17px;
  transition: 0.3s;
}

/* 버튼 hover 배경색 변경 */
.tab button:hover {
  background-color: #8C2626;
}

/* 버튼에 active 클래스가 추가됐을때 배경색 변경 */
.tab button.active {
  background-color: #BF3636;
}

/* 탭 컨텐츠 스타일 */
.tabcontent {
  position: relative;
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;

  animation: fadeEffect 1s;
}

/* fade 애니메이션 */
@keyframes fadeEffect {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

/* 탭 컨텐츠 닫기 버튼 */
.tabcontent span {
  cursor: pointer;
  position: absolute;
  top: 18px;
  right: 20px;

  color: #757575;
  font-size: 26px;
}

.tabcontent span:hover {
  color: #260505;
}