@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400&family=Noto+Sans+KR:wght@300&family=Noto+Serif+KR:wght@200&display=swap');



/* 스크롤 주기 */
body {
  height: 1700vw;
}

/* 전체를 감싸는 wrapper fixed */
#wrapper {
  position: fixed;
  top: 0;
  left: 0;
  background-image: url('../images/back.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  width: 100vw;
  height: 100vh;

  perspective: 1000px;
}
/* 로고 */
#wrapper .logo>img {
  width: 200px;
  margin: 40px;
}
/* 스크롤 표시 */
#wrapper .scroll {
  position: absolute;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
  z-index: 100;

  color: rgba(255, 255, 255, 1);
  text-align: center;;
}
/* 메뉴 */
#wrapper .nav {
  position: absolute;
  top: 50%;
  left: 40px; 
  transform: translateY(-50%);
  z-index: 100;
  
  color: white;
  font-size: 20px;
  font-family: 'Crimson Text', serif;
  list-style: none;
}
#wrapper .nav li {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 6px;
  
  transition: 1s;
}
#wrapper .nav li:first-child {
  font-size: 40px;
}
#wrapper .nav span {
  display: inline-block;
  background-color: white;
  width: 20px;
  height: 1px;
  margin-right: 10px;
}


/* container */
#container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  /* 자식에게도 3d효과를 상속시킴 */
  transform-style: preserve-3d;
}

/* stage */
#stage {
  transform-style: preserve-3d;
  transform: translateZ(0vw);

  transition: 1.5s;
}

/* stage box */
#stage>section {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  position: absolute;
  top: -50vh;
  left: -50vw;
  width: 200vw;
  height: 200vh;
}

/* 박스 이미지와 위치 설정 */
#stage>.card_box_1 {
  background-image: url('../images/0_sun.png');
  transform: translateZ(-100vw);
}
#stage>.card_box_2 {
  background-image: url('../images/1_mercury.png');
  transform: translateZ(-300vw);
}
#stage>.card_box_3 {
  background-image: url('../images/2_venus.png');
  transform: translateZ(-500vw);
}
#stage>.card_box_4 {
  background-image: url('../images/3_earth.png');
  transform: translateZ(-700vw);
}
#stage>.card_box_5 {
  background-image: url('../images/4_mars.png');
  transform: translateZ(-900vw);
}
#stage>.card_box_6 {
  background-image: url('../images/5_jupiter.png');
  transform: translateZ(-1100vw);
}
#stage>.card_box_7 {
  background-image: url('../images/6_saturn.png');
  transform: translateZ(-1300vw);
}
#stage>.card_box_8 {
  background-image: url('../images/7_uranus.png');
  transform: translateZ(-1500vw);
}
#stage>.card_box_9 {
  background-image: url('../images/8_neptune.png');
  transform: translateZ(-1700vw);
}

/* 컨텐츠 중앙정렬, 폰트 사이즈 */
.card_content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  color: white;
}

/* 컨텐츠 내용 */
.card_title:hover ~ .card_text {
  display: block;
}
.card_title {
  cursor: pointer;
  position: absolute;
  top: 100vh;
  left: 130vw;

  font-size: 80px;
  font-family: 'Crimson Text', serif;
  
  text-shadow: 0px 0px 30px black;
}
.card_title .kor {
  font-size: 70px;
  font-family: 'Noto Serif KR', serif;
}
.card_text {
  display: none;
  transition: 0.5s;

  position: absolute;
  top: 115vh;
  left: 130vw;

  width: 500px;
  box-sizing: border-box;
  padding: 20px;
  font-size: 20px;
  font-weight: 300;

  background-color: rgba(0, 0, 0, 0.5);
}
.card_text li {
  padding: 2px 0;
  margin-left: 20px;
  list-style-type: square;

  font-family: 'Noto Sans KR', sans-serif;
}
.card_text li sup {
  font-size:xx-small; vertical-align:super;
}

