/* ================= mobile start ================= */
/* ----------------- mobile main start ----------------- */
/* 메인 크기, 이미지 설정 */
#main {
  width: 100%;
  height: calc(100vh - 60px);
  background-image: url("../images/00main_2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
/* 메인 텍스트 */
#main .txt {
  padding-top: 15vh;

  color: white;
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  text-shadow: 0 0 10px #000000;
}
/* 객실 검색 폼 모바일에서는 숨김 */
#main .room_search_form {
  display: none;
}
/* ----------------- mobile main end ----------------- */







/* ----------------- mobile section start ----------------- */

/* ----------------- 섹션 공통 */
/* pc에서만 노출되는 섹션 모바일에서 숨김 */
#index_dining, #index_membership {
  display: none;
}

/* 섹션 타이틀 */
section .tit {
  height: 120px;
  padding: 30px 10px 0 10px;

  text-align: center;
}
section .tit>h2 {
  font-size: 24px;
}
section .tit>p {
  padding-bottom: 0;
}






/* ----------------- index_offers 섹션 */
/* article 크기 */
#index_offers>article {
  height: 320px;
  box-sizing: border-box;
  border: 1px solid #e5e5e5;
  margin: 0 10px 20px 10px;
}
/* 이미지 설정 */
#index_offers>article .img {
  height: 225px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
/* 이미지 링크 */
#index_offers>.article_1 .img {
  background-image: url("../images/01offers_1.jpg");
}
#index_offers>.article_2 .img {
  background-image: url("../images/01offers_2.jpg");
}
#index_offers>.article_3 .img {
  background-image: url("../images/01offers_3.jpg");
}
/* 텍스트 사이즈, 여백 설정 */
#index_offers>article .txt {
  padding: 24px 30px 0 30px;
  font-size: 16px;
}
#index_offers>article .txt>.serif {
  color: #a68c5d;
  font-weight: 500;
  letter-spacing: -1px;
}
#index_offers>article .txt>.sans {
  color: #5e5e5e;
  font-size: 19px;
  font-weight: 400;
  letter-spacing: -1px;
}

/* 모바일에서는 article 2개만 노출 (나머지는 숨김) */
#index_offers>.article_3 {
  display: none;
}
/* 날짜는 모바일에서 숨김 */
#index_offers>article .txt>p:last-of-type {
  display: none;
}







/* ----------------- index_rooms 섹션 */
/* 섹션 배경색 */
#index_rooms {
  background-color: #f6f3ee;
  height: auto;
  padding-bottom: 30px;
}
/* 이미지 */
#index_rooms .img {
  height: 320px;
  background-image: url("../images/03rooms_1_1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* 텍스트 여백과 스타일 */
#index_rooms .txt {
  position: relative;
  height: 250px;
  box-sizing: border-box;
  padding: 24px 30px 0 30px;
}
#index_rooms .txt>.serif {
  color: #a0a0a0;
  font-size: 15px;
  letter-spacing: -1px;
}
#index_rooms .txt>.serif_kr {
  color: black;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: -1px;
}
#index_rooms .txt>.sans {
  box-sizing: border-box;
  padding: 20px 0;

  color: #5e5e5e;
  font-size: 15px;
  font-weight: 300;
  line-height: 25px;
  letter-spacing: -1px;
}

/* 자세히보기 버튼 */
#index_rooms .txt>.btn {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  display: block;
  background-color: #a68c5d;
  width: 204px;
  height: 50px;
  box-sizing: border-box;
  padding-top: 12px;

  color: white;
  letter-spacing: -1px;
  text-align: center;
}







/* ----------------- index_location 섹션 */
#index_location {
  height: 440px;
}
#index_location .tit {
  height: 90px;
}
#index_location>iframe {
  width: 100%;
  height: 320px;
}
/* ----------------- mobile section end ----------------- */
/* ================= mobile end ================= */












/* ================= tablet start ================= */
@media screen and (min-width: 768px)
{
/* ----------------- tablet main start ----------------- */
#main {
  height: 60vh;
}
#main .txt {
  padding-top: 40vh;
}
/* ----------------- tablet main end ----------------- */





/* ----------------- tablet section start ----------------- */
/* ----------------- index_offers 섹션 */
/* article 가로배치하기 위해 flex */
#index_offers {
  display: flex;
  flex-flow: row wrap;
}
#index_offers>article {
  width: calc(50% - 20px);
}

/* ----------------- index_rooms 섹션 */
/* article 가로배치하기 위해 flex */
#index_rooms article {
  display: flex;
  flex-flow: row wrap;
  margin: 0 10px;
}
#index_rooms .img {
  width: 50%;
}
/* 텍스트 여백과 폰트 사이즈 변경 */
#index_rooms .txt {
  width: 50%;
  height: 320px;
  box-sizing: border-box;
  padding: 10px 0 0 25px;
}
#index_rooms .txt>.serif {
  font-size: 19px;
}
#index_rooms .txt>.serif_kr {
  font-size: 29px;
}
#index_rooms .txt>.btn {
  bottom: 20px;
}
/* ----------------- tablet section end ----------------- */
}
/* ================= tablet end ================= */












/* ================= pc end ================= */
@media screen and (min-width: 1200px)
{
/* ----------------- pc main start ----------------- */
/* 메인 이미지 변경 */
#main {
  height: 600px;
  background-image: url("../images/00main_1.jpg");
}
/* 메인 텍스트 위치 변경 */
#main .txt {
  padding-top: 360px;
  padding-bottom: 35px;

  text-align: left;
  text-shadow: none;
  font-size: 42px;
}

/* 객실 검색 폼 pc에서는 노출 */
#main .room_search_form {
  display: flex;
  flex-flow: row wrap;
  align-items: center;

  background-color: white;
  width: 100%;
  height: 50px;

  color: #5e5e5e;
  text-align: center;
}
/* input 공통 */
#main .room_search_form>input {
  height: 100%;
  box-sizing: border-box;
  border: none;

  text-align: center;
}
/* 각 영역 사이즈 설정 */
#main .room_search_form>.period {
  width: 8%;
}
#main .room_search_form>.arr {
  width: 5%;
}
#main .room_search_form>input[type=date] {
  width: 15%
}
#main .room_search_form>input[type=number] {
  width: 5%;
}
#main .room_search_form>label {
  width: 5%;
}
/* 검색 버튼 */
#main .room_search_form>input[type=submit] {
  background-color: #212121;
  width: 17%;
  color: white;
}

/* ----------------- pc main end ----------------- */








/* ----------------- pc section start ----------------- */
/* 섹션 공통 타이틀 */
section .tit {
  height: 144px;
  padding: 46px 0 24px 0;
}
section .tit>h2 {
  font-size: 35px;
}
section .tit>p {
  font-size: 16px;
}





/* ----------------- index_offers 섹션 */
#index_offers>article {
  width: calc(100% / 3);
  height: 400px;
  margin: 0 0 42px 0;
}
#index_offers>article .img {
  height: 258px;
}
/* pc에서 노출 */
#index_offers>.article_3,
#index_offers>article .txt>p:last-of-type
{
  display: inline-block;
}







/* ----------------- pc section end ----------------- */










}
/* ================= pc end ================= */