/* 사이드 내비 메뉴
    디폴트 : width: 0 */
.sidenav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  background-color: #111;
  width: 0;
  height: 100%;
  padding-top: 60px;
  overflow-x: hidden;

  transition: 0.5s;
}

/* 내비 메뉴 링크 */
.sidenav a {
  display: block;
  padding: 8px 8px 8px 32px;

  color: #818181;
  font-size: 25px;
  text-decoration: none;

  transition: 0.3s;
}

/* 내비 메뉴 링크 hover하면 컬러 변경 */
.sidenav a:hover {
  color: #F2163E;
}

/* 내비 닫기 버튼의 포지션과 스타일 (오른쪽 위 코너) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;

  margin-left: 50px;
  font-size: 36px;
}

/* 페이지 컨텐츠의 스타일
  사이드 내비를 열었을때
  페이지 컨턴츠를 오른쪽으로 밀고 싶다면 설정 */
#main {
  background-color: #F29BAB;
  width: 700px;
  height: 300px;

  padding: 20px;
  transition: margin-left 0.5s;
}

/* 높이 450px 이하의 스크린에서는
  사이드 내비의 스타일을 바꾼다 */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}