
/* ----------- 임시 적용 ----------- */


/* ----------- 리스트 스타일 ----------- */

/* 전체 여백 */
.list_form {
  padding: 30px;
}

/* 타이틀 */
.list_form h2 {
  padding-left: 30px;
  padding-bottom: 30px;
}
.list_form h3 {
  padding-left: 20px;
  padding-bottom: 20px;
}

/* 목록 배경색 */
.list_form ul {
  background-color: white;
  padding: 20px;
}

/* 텍스트 가운데 정렬 */
.list_form ul p {
  text-align: center;
  padding: 15px 0;
  
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 목록 요소 가로 배치 */
.list_form .list {
  display: flex;
  justify-content: space-around;

  padding: 0 30px;
  border-bottom: 1px solid #ddd;
}


/* 리스트 제일 윗줄 제목 */
.list_form .list.sub {
  /* background-color: thistle; */
  border-bottom: none;
  /* border: 1px solid #ddd; */
}










/* input text 스타일 */
.list_form .list input[type=text],
.list_form .list input[type=button]
{
  display: inline-block;
  background-color: white;
  width: 80%;
  height: 25px;
  padding: 5px;
  border: 1px solid #ddd;
  line-height: 13px;

  text-align: center;
}

.list_form .list input[type=button] {
  max-width: 60px;
}








/* 페이지 표시 */
.list_form .page {
  text-align: center;
}
.list_form .page p {
  display: inline-block;
  margin: 20px 5px;
}

/* 하단 버튼 오른쪽 정렬 */
.list_form .btn {
  margin: 10px 0;
  text-align: right;
}
