
/* ----------- 임시 적용 ----------- */


/* ----------- 뷰 스타일 ----------- */

/* 전체 여백 */
.view_form {
  padding: 30px;
}

/* 타이틀 */
.view_form h2 {
  padding-left: 30px;
  padding-bottom: 30px;
}

/* 폼 배경색 */
.view_form .form_box {
  background-color: white;
  padding: 20px;

  display: flex;
  flex-flow: row wrap;
}

/* 각 줄 하단에 라인 */
.view_form .form_box div {
  border-bottom: 1px solid #ddd;
}

/* 각 요소들 가로 배치와 여백 설정 */
.view_form .form_box div p {
  display: inline-block;
  /* padding: 15px; */
}


/* 첫번째 요소에 너비 고정 */
.view_form .form_box div p:first-of-type
{
  width: 100px;
  float: left;
  padding: 15px;
}
.view_form .form_box .id p,
.view_form .form_box .send_id p,
.view_form .form_box .rv_id p,
.view_form .form_box .date p,
.view_form .form_box .file p
{
  padding: 15px 10px;
}

/*  */
.view_form .form_box div p:last-of-type
{
  clear: both;
  width: calc(100% - 105px);
}



/* 하단 버튼 */
.view_form .btn {
  margin: 20px 5px;
  text-align: right;
}









/* input text 스타일 */
textarea,
.view_form .form_box input[type=text],
.view_form .form_box input[type=button]
{
  display: inline-block;
  /* background-color: white; */
  width: 100%;
  height: 0px;
  /* height: 25px; */
  padding: 15px 5px;
  /* padding: 5px; */
  margin: 5px;
  border: none;
  border-bottom: 1px solid #ddd;
  /* border: 1px solid #ddd; */
  /* line-height: 13px; */
}

textarea {
  height: 200px;
  padding: 5px;
  border: 1px solid #ddd;
}



