
/* ----------- 임시 적용 ----------- */

#header .nav.login {
  display: none;
}

/* ----------- 헤더 ----------- */

/* 가로로 배치하기 위해 flex */
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header div {
  box-sizing: border-box;
  padding: 0 20px;
}
#header p {
  display: inline-block;
}
