@charset "utf-8";

/* color

#41bffc
#7c88ef
#b751e1
*/

* {
	margin: 0;
	padding: 0;
}
body {
	background: linear-gradient(-45deg, #41bffc, #b751e1);
	background-repeat: no-repeat;
	width: 100vw;
	padding: 10vh 0;
	box-sizing: border-box;
}
.wrap {
	margin: 0 auto;
	background-color: white;
	width: 860px;
	height: 80vh;
	border-radius: 30px;
}

ul li {
	list-style: none;
}
a {
	text-decoration: none;
	color: #777;
}
a:hover {
	color: #7c88ef;
}
.flex {
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}
h2 {
	font-size: 1.5rem;
	padding-top: 30px;
	padding-bottom: 30px;
	color: #7c88ef;
}
h3 {
	font-size: 1.5rem;
	padding-top: 30px;
	padding-bottom: 30px;
	color: #777;
	font-weight: normal;
}
input {
	box-sizing: border-box;
	width: 300px;
	height: 50px;
	border: 1px solid lightgray;
	padding: 10px;
	margin-bottom: 10px;
}
input[type=button] {
	border: none;
	background-color: #7c88ef;
	color: white;
	font-size: 0.8rem;
}
input[type=button]:hover {
	border: 1px solid #7c88ef;
	background-color: white;
	color: #7c88ef;
}
input.reset {
	border: 1px solid #7c88ef;
	background-color: white;
	color: #7c88ef;
}
input.reset:hover {
	border: none;
	background-color: lightgray;
	color: #777;
}

/* header */
.header {
	width: 100%;
	height: 80px;
	margin: 0 auto;
	font-size: 0.8rem;
	color: #777;
}
.header .logo {
	line-height: 80px;
	padding-left: 35px;
}
.header .nav {
	line-height: 80px;
	padding-right: 35px;	
}
.header .nav p {
	padding-left: 10px;
}

/* section */
.section {
	width: 100%;
	height: 65vh;
	text-align: center;
}

/* form */
.form {
	font-size: 0;
	width: 300px;
	margin: 0 auto;
}
.form .id input {
	width: 195px;
}
.form .id .check {
	width: 95px;
}
.button {
	width: 145px;
}
.form .btn {
	margin-bottom: 30px;
}

/* modify */
.modify .id {
	box-sizing: border-box;

	width: 300px;
	height: 50px;
	border: 1px solid lightgray;
	padding-left: 10px;
	margin-bottom: 10px;

	background-color: #eee;
	font-size: 0.8rem;
	line-height: 50px;
	text-align: left;
	color: #666;
}
.modify .update {
	width: 300px;
}
.message_form p {
	padding: 5px 10px ;
	box-sizing: border-box;
	
	color: #666;
	text-align: left;
	font-size: 0.8rem;
}

/* message_box */
.message_box>.flex {
	justify-content: flex-start;
}
.message_box>.flex>.aside {
	width: 145px;
	padding: 30px 35px 0 35px;
}
.message_box>.flex>.aside>.flex {
	flex-flow: column wrap;
	justify-content: flex-start;
}
.message_box>.flex>.form {
	padding-right: 35px;
}
.message_box>.flex>.form>ul p {
	padding-left: 10px;
	margin-bottom: 3px;

	color: #666;
	text-align: left;
	font-size: 0.8rem;
	line-height: normal;
}
.textarea {
	box-sizing: border-box;
	width: 300px;
	height: 100px;
	padding: 10px;
	border: 1px solid lightgray;

	margin-bottom: 10px;
}
.page p {
	padding: 0 10px;
	color: #666;
	font-size: 0.8rem;
}
.page p.active {
	font-weight: bold;
	color: #7c88ef;
}

/* message_list */
.message_list {
	width: 600px;
}
.message_list>.ul li.flex {
	justify-content: left;

	padding: 10px 0;
	border-bottom: 1px solid lightgray;
}
.message_list>.ul li.tit {
	border-bottom: 1px solid #7c88ef;
}
.message_list>.ul li.hover {
	position: relative;
}
.message_list>.ul li.hover>p:nth-of-type(1)::before {
	content: "";
	display: inline-block;

	position: absolute;
	top: 0;
	left: 0;
	
	background-color: #7c88ef;
	width: 0;
	height: 40px;
}
.message_list>.ul li.hover:hover {
	background-color: rgb(245, 245, 245);
}
.message_list>.ul li.hover:hover p:nth-of-type(1)::before {
	width: 5px;
}
.message_list>.ul li.flex>p {
	padding: 0;
	text-align: center;
	overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.message_list>.ul li.flex>p:nth-of-type(1) {
	width: 50px;
}
.message_list>.ul li.flex>p:nth-of-type(2) {
	width: 120px;
}
.message_list>.ul li.flex>p:nth-of-type(3) {
	width: 100px;
}
.message_list>.ul li.flex>p:nth-of-type(4) {
	box-sizing: border-box;
	width: 330px;
	padding: 0 10px;
}
.message_list>.ul li.hover>p:nth-of-type(4) {
	text-align: left;
}
.message_list>.page.flex {
	height: 50px;
	padding: 20px 0;
	justify-content: center;
}
.message_box>.flex>.form>ul>.no-message {
	height: 50px;
	line-height: 50px;
	text-align: center;
}

/* message_view */
.message_view {
	width: 600px;
}
.message_view .flex {
	height: 40px;
	/* text-align: left */
	justify-content: left;
	border-bottom: 1px solid lightgray;
}
.message_view .flex>p {
	width: 90px;
	height: 40px;
	padding-left: 10px;
	border: none;
	box-sizing: border-box;
	
	color: #666;
	text-align: left;
	font-size: 0.8rem;
	line-height: 40px;

}
.message_view .flex>p:nth-of-type(2n+1) {
	color: #7c88ef;
}
.message_view .flex>p:last-of-type {
	width: 150px;
}
.message_view .flex>p.text {
	width: 510px;
	
	overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.message_view .flex.content {
	height: 150px;
}
.message_view .flex.content>.scroll {
	box-sizing: border-box;
	margin: 5px 0;
	width: 500px;
	height: 140px;
	line-height: normal;
	overflow-x: hidden;
	overflow-y: scroll;
}
.message_view .btn>.button {
	margin: 10px 5px;
}
.message_view .flex>p.file_text {
	width: 468px;

	overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* board_form */
/*.board_form {
	 aside 있을 경우 35 
	 aside 없을 경우 0 
	padding-right: 0 !important;
}*/
.board_form .board_id {
	margin-left: 10px;
}
.board_form input.subject {
	width: 500px;
	height: 34px;
	margin: 3px 0;
}
.board_form textarea {
	box-sizing: border-box;
	width: 500px;
	height: 144px;
	padding: 10px;
	margin: 3px 0;
	border: 1px solid lightgray;
}
.board_form input[type=file] {
	height: 30px;
	padding: 0;
	border: none;
	margin: 0;
}

/* board_list */
.board_list {
	width: 600px;
}
.board_list>.ul li.flex {
	justify-content: left;

	padding: 10px 0;
	border-bottom: 1px solid lightgray;
}
.board_list>.ul li.tit {
	border-bottom: 1px solid #7c88ef;
}
.board_list>.ul li.hover {
	position: relative;
}
.board_list>.ul li.hover>p:nth-of-type(1)::before {
	content: "";
	display: inline-block;

	position: absolute;
	top: 0;
	left: 0;
	
	background-color: #7c88ef;
	width: 0;
	height: 40px;
}
.board_list>.ul li.hover:hover {
	background-color: rgb(245, 245, 245);
}
.board_list>.ul li.hover:hover p:nth-of-type(1)::before {
	width: 5px;
}
.board_list>.ul li.flex>p {
	padding: 0;
	text-align: center;
	overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.board_list>.ul li.flex>p:nth-of-type(1) {
	width: 50px;
}
.board_list>.ul li.flex>p:nth-of-type(2) {
	width: 290px;
}
.board_list>.ul li.flex>p:nth-of-type(3) {
	width: 50px;
}
.board_list>.ul li.flex>p:nth-of-type(4) {
	width: 70px;
}
.board_list>.ul li.flex>p:nth-of-type(5) {
	width: 90px;
}
.board_list>.ul li.flex>p:nth-of-type(6) {
	width: 50px;
}
.board_list>.ul li.hover>p:nth-of-type(2) {
	box-sizing: border-box;
	padding: 0 10px;
	text-align: left;
}
.board_list>.page.flex {
	height: 50px;
	padding: 20px 0;
	justify-content: center;
}

.attach_file .btn_save {
	width: 40px;
	height: 20px;
	padding-top: 3px;
	border: 1px solid lightgray;
	margin-top: 7px;
	font-size: 0.8rem;
}


/* footer */
/*.footer {
	width: 100%;
	margin: 0 auto;

	text-align: center;
	color: lightgray;
}*/


#admin {
  width: 85%;
  height: 600px;
  padding: 0 20px;
  box-sizing: border-box;
  margin: 0 auto;
  
  overflow-y: scroll;

  text-align: center;
}

#admin ul {
  width: 100%;
}

#admin .list {
  height: 40px;
  box-sizing: border-box;
  border-bottom: 1px solid lightgray;
}

#admin .list p {
  display: inline-block;
  line-height: 40px;
  font-size: 0.8rem;
  color: #777777;
}

#admin input[type=checkbox] {
  width: 15px;
  height: 15px;
}

#admin .member_list input[type=submit],
#admin .member_list input[type=button],
#admin input[type=text]
{
  width: 50px;
  height: 30px;
}


#main {
  width: 100%;
  margin: 0 auto;  
  text-align: center;
}

#main .main-img {
  background-color: lightgray;
  width: 95%;
  height: 300px;
  margin: 0 auto;
}

#main h2 {
  border-bottom: 1px solid lightgray;
}

#main ul {
  padding-top: 10px;
}

#main ul li {
  padding: 5px 0;
}

#main ul li p {
  display: inline-block;
  width: 20%;

  color: #777;
  font-size: 0.8rem;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#latest {
  display: inline-block;
  width: 50%;
  padding: 0 20px;
  box-sizing: border-box;

  /* border: 1px solid bisque; */
}

#latest ul li p.subject {
  width: 50%;
  text-align: left;
}
#latest ul li p.id {
  width: 20%;
}
#latest ul li p.date {
  width: 20%;
}


#point_rank {
  display: inline-block;
  width: 35%;
  padding: 0 20px;
  box-sizing: border-box;

  /* border: 1px solid bisque; */
}


#point_rank ul li p.rank {
  width: 10%;
}
#point_rank ul li p.id {
  width: 30%;
}
#point_rank ul li p.name {
  width: 30%;
}
#point_rank ul li p.point {
  width: 20%;
}

