/* sub end */
button {
  display: inline-block;
}
.img {
  background-size: cover;
}
h2 {
  font-size: 26pt;
}
h3 {
  font-size: 20pt;
}
h2, h3, h4 {
  padding-bottom: 20px;
}
.strong {
  font-size: 15pt;
  font-weight: bold;
  line-height: 20pt;
  padding-bottom: 10px;
}
.text {
  font-size: 11pt;
  line-height: 15pt;
}
/* sub end */

/* mobile start */
/* brand strat */
/* scroll */
.scroll.flex {
  justify-content: center;
  align-items: center;
}
.scroll.flex>.back {
  position: fixed;
  bottom: 50px;

  background-color: rgba(255, 255, 255, 0.5);
  /* opacity: 0.8; */
  border-radius: 30px;
  padding: 5px 7px 4px 7px;

  font-size: 2rem;

  animation-name: move;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;

  z-index: 50;
}


/* .scroll i {
  position: fixed;
  
  bottom: 50px;
  font-size: 2rem;
  opacity: 0.7;

  animation-name: move;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;

  z-index: 50;
} */


@keyframes move {
  0% {
    bottom: 50px;
  }
  100% {
    bottom: 65px;
  }
}




/* box start */
.box1 {
  width: 100%;
  height: 450px;
}
.box2 {
  width: 100%;
  height: 225px;
}
.main {
  width: 100%;
  height: 225px;
}
.box0:nth-of-type(1) {
  width: 100%;
  height: 225px;
}
.box0:nth-of-type(2) {
  width: 100%;
  height: 450px;
}
/* box end */

/* content start */
.content1 .flex {
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: flex-end;
}
.content1 .text {
  padding-bottom: 30px;
}
.content2 .img{
  background-image: url('../images/brand-1.jpg');
}
.content2 .flex {
  justify-content: center;
}
.content2 .strong {
  color: white;
  text-align: center;
}
.content3 .flex{
  flex-flow: column wrap;
  justify-content: center;
}
.content4 .img {
  background-image: url('../images/brand-2.jpg');
}
.content5 {
  height: 225px;
}
.content5 .flex {
  flex-flow: column wrap;
  justify-content: center;
  text-align: center;
}
.content6 .img {
  background-image: url('../images/brand-3.jpg');
}
.content6 .flex {
  color: white;
  flex-flow: column wrap;
  justify-content: flex-end;
  align-items: flex-start;
}
.content6 ol {
  padding-bottom: 20px;
  padding-left: 18px;
  list-style: decimal;
}
.content6 .list {
  padding-bottom: 15px;
}
.content7 .img {
  background-image: url('../images/brand-4.jpg');
}
.box0 {
  background-color: #1a2e42;
  color: white;
}
.content8 {
  /* 왜 width:100%을 줘야 하는지 모르겠음 */
  /* content9는 안해도 100%인데 */
  /* 박스 사이징때문에 그런건가? */
  width: 100%;
  height: 225px;
  box-sizing: border-box;
  padding-top: 60px;
}
.content9 {
  height: 450px;
  padding-bottom: 40px;
}
/* content end */
/* brand end */

/* coffee start */
.coffee .content2 .img{
  background-image: url('../images/coffee-1.jpg');
}
.coffee .content3 {
  position: relative;
  overflow: hidden;
}
.left, .right {
  color: #ddd;
  font-size: 100pt;
  position: absolute;
  opacity: 50%;
}
.left {
  top: 5%;
  left: -20px;
}
.right {
  right: -20px;
  bottom: 5%;
}
.center {
  position: absolute;
  top: 30%;
  left: 60%;
}
.coffee .content4 .img{
  background-image: url('../images/coffee-2.jpg');
}
.coffee .content5 {
  background-color: #d1c0a5;
  box-sizing: border-box;
  width: 100%;
  height: 337.5px;
  padding-top: 60px;
  color: black;
}
.coffee .content5 ol {
  padding-left: 18px;
  list-style: decimal;
}
.coffee .content5 .list {
  padding-bottom: 10px;
}
/* coffee end */

/* menu start */
.menu .title {
  width: 100%;
  order: 1;
}
.menu .title .flex {
  height: 60px;
  justify-content: flex-start;
}
.menu .title h3 {
  padding-right: 15px;
  /* 51line padding-bottom을 0으로 변경 */
  padding-bottom: 0;
}
.menu .title p {
  font-size: 1rem;
}
.menu .btn {
  width: 100%;
  height: 100px;

  box-sizing: border-box;
  border-bottom: 1px solid #dcdcdc;
}
.menu .btn .button {
  width: 50%;
  height: 50%;
  box-sizing: border-box;
  border-top: 1px solid #dcdcdc;
}
.menu .btn .button:hover {
  background-color: black;
  color: white;
}
.click {
  background-color: black;
  color: white;
}
.menu .btn .button:nth-of-type(2n+1) {
  border-right: 1px solid #dcdcdc;
}
.menu .content {
  display: none;
}
.menu .content.show {
  display: block;
}
.menu .content .flex {
  width: 100%;
  height: 360px;
}
.menu .content .item {
  width: 50%;
  height: 180px;
  text-align: center;
}
/* modal */
.modal {
  display: none;

  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);

  z-index: 100;
}
.modal>.close {
  /* 부모가 fixed라 relative 안줘도됨 */
  /* 그럼 픽시드도 가능? 상속? */
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-size: 2.5rem;

  cursor: pointer;
}
.modal>img {
  display: block;
  width: 50%;
  max-width: 400px;
  margin: 100px auto 0 auto;
  background-image: url('../images/101.jpg');
  background-size: contain;

  animation: zoom 0.5s;
}

@keyframes zoom {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}









.menu .content .item>img {
  margin: 0 auto;
  width: 130px;
  height: 130px;
  cursor: pointer;
}



/* 페이지 나눔 */
.menu .content {
  overflow: hidden;
}
.menu .content .slide {
  width: 100%;
  height: 360px;

  position: relative;
  transition: 0.5s;
}
.menu .content .slide .flex:nth-of-type(1) {
  position: absolute;
  top: 0;
  left: 0;
}
.menu .content .slide .flex:nth-of-type(2) {
  position: absolute;
  top: 0;
  left: 100%;
}
.menu .content .slide .flex:nth-of-type(3) {
  position: absolute;
  top: 0;
  left: 200%;
}
.menu .content .slide .flex:nth-of-type(4) {
  position: absolute;
  top: 0;
  left: 300%;
}

/* newitem */
input[id="new1"]:checked ~ .slide {
  left: 0;
}
input[id="new2"]:checked ~ .slide {
  left: -100%;
}
input[id="new3"]:checked ~ .slide {
  left: -200%;
}
input[id="new1"]:checked ~ .page>label[for="new1"],
input[id="new2"]:checked ~ .page>label[for="new2"],
input[id="new3"]:checked ~ .page>label[for="new3"] 
{
  font-weight: bold;
}
/* coffeeitem */
input[id="coffee1"]:checked ~ .slide {
  left: 0;
}
input[id="coffee2"]:checked ~ .slide {
  left: -100%;
}
input[id="coffee3"]:checked ~ .slide {
  left: -200%;
}
input[id="coffee1"]:checked ~ .page>label[for="coffee1"],
input[id="coffee2"]:checked ~ .page>label[for="coffee2"],
input[id="coffee3"]:checked ~ .page>label[for="coffee3"] 
{
  font-weight: bold;
}
/* beverageitem */
input[id="beverage1"]:checked ~ .slide {
  left: 0;
}
input[id="beverage2"]:checked ~ .slide {
  left: -100%;
}
input[id="beverage3"]:checked ~ .slide {
  left: -200%;
}
input[id="beverage1"]:checked ~ .page>label[for="beverage1"],
input[id="beverage2"]:checked ~ .page>label[for="beverage2"],
input[id="beverage3"]:checked ~ .page>label[for="beverage3"] 
{
  font-weight: bold;
}
/* fooditem */
input[id="food1"]:checked ~ .slide {
  left: 0;
}
input[id="food2"]:checked ~ .slide {
  left: -100%;
}
input[id="food3"]:checked ~ .slide {
  left: -200%;
}
input[id="food4"]:checked ~ .slide {
  left: -300%;
}
input[id="food1"]:checked ~ .page>label[for="food1"],
input[id="food2"]:checked ~ .page>label[for="food2"],
input[id="food3"]:checked ~ .page>label[for="food3"], 
input[id="food4"]:checked ~ .page>label[for="food4"] 
{
  font-weight: bold;
}





/* .menu .content .item .img {
  margin: 0 auto;
  width: 130px;
  height: 130px;
} */
.menu .page {
  height: 70px;
  text-align: center;
  line-height: 70px;
}
.menu .page p {
  cursor: pointer;
  display: inline-block;
  padding: 0 5px;
}
/* menu end */

/* news start */
.news .btn {
  height: 50px;
}
.news .btn .button {
  width: 50%;
  height: 100%;
}
.news>.container {
  display: none;
}
.news>.container.show {
  display: block;
}

.news ul {
  /* 높이는 임시로 지정 */
  height: 65px;
  box-sizing: border-box;
  border-bottom: 1px solid #dcdcdc;
}
.news ul.table {
  border-top: 2px solid #1a2e42;
}
.news ul:nth-of-type(1) {
  border-bottom: 1px solid #dcdcdc;
}
.news ul .flex {
  /* 왼쪽 정렬 */
  justify-content: flex-start;
}
.news ul {
  text-align: center;
}
.news .date, .news .views {
  /* 모바일에서는 숨김 */
  display: none;
}
.news .number {
  width: 20%;
}
.news .subject {
  width: 80%;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  
}
.news .title .flex {
  height: 80px;
}
.news .table .subject {
  text-align: center;
}
.news .slide .subject {
  text-align: left;
}





/* 페이지 나눔 */
/* newsboard */
.news>.container>.slide>.div-page1 {
  display: block;
}
.news>.container>.slide>.div-page2 {
  display: none;
}
input[id="news1"]:checked ~ .slide>.div-page1 {
  display: block;
}
input[id="news1"]:checked ~ .slide>.div-page2 {
  display: none;
}
input[id="news2"]:checked ~ .slide>.div-page1 {
  display: none;
}
input[id="news2"]:checked ~ .slide>.div-page2 {
  display: block;
}
input[id="news1"]:checked ~ .page>label[for="news1"],
input[id="news2"]:checked ~ .page>label[for="news2"]
{
  font-weight: bold;
}
/* eventboard */
.news>.container>.slide>.div-page1 {
  display: block;
}
.news>.container>.slide>.div-page2 {
  display: none;
}
input[id="event1"]:checked ~ .slide>.div-page1 {
  display: block;
}
input[id="event1"]:checked ~ .slide>.div-page2 {
  display: none;
}
input[id="event2"]:checked ~ .slide>.div-page1 {
  display: none;
}
input[id="event2"]:checked ~ .slide>.div-page2 {
  display: block;
}
input[id="event1"]:checked ~ .page>label[for="event1"],
input[id="event2"]:checked ~ .page>label[for="event2"]
{
  font-weight: bold;
}










.news p {
  /* 글 줄바꿈 안되고 ...으로 생략 */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.news ul.data .title {
  text-align: left;
}
.news ul.data:hover {
  background-color: #1a2e42;
  color: white;
}

.news .page {
  box-sizing: border-box;
  padding-top: 4px;
  /* height: 70px; */
}
/* news end */

/* ---------------- footer start ---------------- */
.footer {
  /* 모바일은 숨김 */
  display: none;
}
/* ---------------- footer end ---------------- */
/* mobile end */