@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Pacifico&display=swap');

/* all start */
/* #1a2e42 */

.wrap {
  /* 모바일 최소 너비 */
  /* width: 360px; */
  width: 100%;

  /* 임시 */
  /* background-color: #eee;  */
}
.container { 
  height: 100%;
  /* 좌우 여백 */
  margin: 0 18px;
}
.flex {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  /* 수직 가운데 정렬 */
  align-items: center;
}
button {
  display: inline-block;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}
.img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.sans {
  font-family: 'Noto Sans KR', sans-serif;
}
.pacifico {
  font-family: 'Pacifico', cursive;
}
h2 {
  font-size: 26pt;
}
h3 {
  font-size: 20pt;
}
h2, h3, h4 {
  padding-bottom: 20px;
}
.strong {
  font-size: 15pt;
  font-weight: bold;
  line-height: 20pt;
  padding-bottom: 10px;
}
.text {
  font-size: 11pt;
  line-height: 15pt;
}
a {
  text-decoration: none;
  color: currentColor;
}
/* all end */

/* mobile start */
/* ---------------- header start ---------------- */
.header {
  width: 100%;
  height: 50px;
  background-color: white;
}
.header>div {
  height: 100%;
}
.bar {
  width: 50px;
  height: 50px;

  padding: 18px 0 0 18px;
  box-sizing: border-box;
}
.bar .fa-times {
  /* 초기값: 숨김 */
  display: none;
  font-size: 15pt;
}
.bar:hover .nav {
  display: block;
}
.bar:hover .fa-bars {
  display: none;
}
.bar:hover .fa-times {
  display: block;
}
.nav {
  /* 초기값: 숨김 */
  display: none;
  position: absolute;
  top: 50px;
  left: 0;

  background-color: white;
  width: 100%;
  height: 450px;
}
.nav ul {
  display: block;
}
.line {
  background-color: black;
  width: 100%;
  height: 1px;
}
.nav .container {
  box-sizing: border-box;
  margin: 0;
  padding: 35px 45px;
}
.header .list {
  padding-bottom: 20px;
  font-size: 20pt;
  font-weight: bold;
}
.header .list .sub-tab {
  display: none;
  padding: 13px 0 0 13px;
  font-size: 12pt;
}
.header .list:hover a {
  display: block;
}
.header .list a:hover {
  text-decoration: underline;
}
.logo {
  font-size: 15pt;
}
.location {
  width: 50px;
  height: 50px;

  padding: 18px 0 0 18px;
  box-sizing: border-box;
}
/* ---------------- header end ---------------- */

/* brand strat */
/* scroll */
.scroll.flex {
  /* 숨겨놓고 작업중 */
  /* display: none; */

  justify-content: center;
  align-items: center;
}
.scroll i {
  /* 애니메이션 효과주기 */
  /* 맨 밑으로 가면 뒤집어서 go to top */
  position: fixed;
  
  bottom: 50px;
  font-size: 2rem;
  opacity: 0.5;
}
/* box start */
.box1 {
  width: 100%;
  height: 450px;
}
.box2 {
  width: 100%;
  height: 225px;
}
.main {
  width: 100%;
  height: 225px;
}
.box0:nth-of-type(1) {
  width: 100%;
  height: 225px;
}
.box0:nth-of-type(2) {
  width: 100%;
  height: 450px;
}
/* box end */

/* content start */
.content1 .flex {
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: flex-end;
}
.content1 .text {
  padding-bottom: 30px;
}
.content2 .img{
  background-image: url('../images/brand-1.jpg');
}
.content2 .flex {
  justify-content: center;
}
.content2 .strong {
  color: white;
  text-align: center;
}
.content3 .flex{
  flex-flow: column wrap;
  justify-content: center;
}
.content4 .img {
  background-image: url('../images/brand-2.jpg');
}
.content5 {
  height: 225px;
}
.content5 .flex {
  flex-flow: column wrap;
  justify-content: center;
  text-align: center;
}
.content6 .img {
  background-image: url('../images/brand-3.jpg');
}
.content6 .flex {
  color: white;
  flex-flow: column wrap;
  justify-content: flex-end;
  align-items: flex-start;
}
.content6 ol {
  padding-bottom: 20px;
  padding-left: 18px;
  list-style: decimal;
}
.content6 .list {
  padding-bottom: 15px;
}
.content7 .img {
  background-image: url('../images/brand-4.jpg');
}
.box0 {
  background-color: #1a2e42;
  color: white;
}
.content8 {
  /* 왜 width:100%을 줘야 하는지 모르겠음 */
  /* content9는 안해도 100%인데 */
  /* 박스 사이징때문에 그런건가? */
  width: 100%;
  height: 225px;
  box-sizing: border-box;
  padding-top: 60px;
}
.content9 {
  height: 450px;
  padding-bottom: 40px;
}
/* content end */
/* brand end */

/* coffee start */
.coffee .content2 .img{
  background-image: url('../images/coffee-1.jpg');
}
.coffee .content3 {
  position: relative;
  overflow: hidden;
}
.left, .right {
  color: #ddd;
  font-size: 100pt;
  position: absolute;
  opacity: 50%;
}
.left {
  top: 5%;
  left: -20px;
}
.right {
  right: -20px;
  bottom: 5%;
}
.center {
  position: absolute;
  top: 30%;
  left: 60%;
}
.coffee .content4 .img{
  background-image: url('../images/coffee-2.jpg');
}
.coffee .content5 {
  background-color: #d1c0a5;
  box-sizing: border-box;
  width: 100%;
  height: 337.5px;
  padding-top: 60px;
  color: black;
}
.coffee .content5 ol {
  padding-left: 18px;
  list-style: decimal;
}
.coffee .content5 .list {
  padding-bottom: 10px;
}
/* coffee end */

/* menu start */
.menu .title {
  width: 100%;
  order: 1;
}
.menu .title .flex {
  height: 60px;
  justify-content: flex-start;
}
.menu .title h3 {
  padding-right: 15px;
  /* 51line padding-bottom을 0으로 변경 */
  padding-bottom: 0;
}
.menu .btn {
  width: 100%;
  height: 100px;

  box-sizing: border-box;
  border-bottom: 1px solid #dcdcdc;
}
.menu .btn .button {
  width: 50%;
  height: 50%;
  box-sizing: border-box;
  border-top: 1px solid #dcdcdc;
}
.menu .btn .button:hover {
  background-color: black;
  color: white;
}
.click {
  background-color: black;
  color: white;
}
.menu .btn .button:nth-of-type(2n+1) {
  border-right: 1px solid #dcdcdc;
}
.menu .content {
  display: none;
}
.menu .content.show {
  display: block;
}
.menu .content .flex {
  width: 100%;
  height: 360px;
}
.menu .content .item {
  width: 50%;
  height: 180px;
  text-align: center;
}
/* modal */
.modal {
  display: none;

  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal>.close {
  /* 부모가 fixed라 relative 안줘도됨 */
  /* 그럼 픽시드도 가능? 상속? */
  position: absolute;
  top: 0px;
  right: 12px;
  color: white;
  font-size: 2.5rem;

  cursor: pointer;
}
.modal>img {
  display: block;
  width: 50%;
  max-width: 400px;
  margin: 30% auto;
  background-image: url('../images/101.jpg');
  background-size: contain;

  animation: zoom 0.5s;
}

@keyframes zoom {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}









.menu .content .item>img {
  margin: 0 auto;
  width: 130px;
  height: 130px;
  cursor: pointer;
}







.menu .content .item .img {
  margin: 0 auto;
  width: 130px;
  height: 130px;
}
.menu .page {
  height: 70px;
  text-align: center;
  line-height: 70px;
}
.menu .page p {
  display: inline-block;
}
/* menu end */

/* news start */
.news .btn {
  height: 50px;
}
.news .btn .button {
  width: 50%;
  height: 100%;
}
.news ul {
  /* 높이는 임시로 지정 */
  height: 65px;
  box-sizing: border-box;
  border-bottom: 1px solid #dcdcdc;
}
.news ul:nth-of-type(1) {
  border-top: 2px solid #1a2e42;
  border-bottom: 1px solid #dcdcdc;
}
.news ul .flex {
  /* 왼쪽 정렬 */
  justify-content: flex-start;
}
.news ul {
  text-align: center;
}
.news .date, .news .views {
  /* 모바일에서는 숨김 */
  display: none;
}
.news .number {
  width: 20%;
}
.news .subject {
  width: 80%;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}
.news .title .flex {
  height: 80px;
}
.news p {
  /* 글 줄바꿈 안되고 ...으로 생략 */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.news ul.data .title {
  text-align: left;
}
.news .page {
  box-sizing: border-box;
  padding-top: 4px;
  /* height: 70px; */
}
/* news end */

/* ---------------- footer start ---------------- */
.footer {
  /* 모바일은 숨김 */
  display: none;
  background-color: black;
  width: 100%;
  color: white;
}
.footer .flex {
  height: 60px;
  justify-content: center;
}
.footer .icon {
  padding: 0 10px;
  font-size: 15pt;
}
.footer .container {
  background-color: black;
  font-size: 10pt;
  text-align: center;
}
.footer .hover {
  padding-bottom: 20px;
}
.footer .text {
  padding-bottom: 17px;
  line-height: 13pt;
}
.footer .hide {
  /* 초기값: 숨김 */
  display: none;
  color: #6e6e6e;
}
.hover:hover .hide {
  display: block;
}
/* ---------------- footer end ---------------- */
/* mobile end */