@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Pacifico&display=swap');

/* #1a2e42 */
/* ================  ================ */
/* ----------------  ---------------- */

/* ================ all start ================ */
.sans {
  font-family: 'Noto Sans KR', sans-serif;
}
.pacifico {
  font-family: 'Pacifico', cursive;
}
.wrap {
  /* 모바일 최소 너비 */
  /* width: 360px; */
  width: 100%;
}
.container { 
  height: 100%;
  /* 좌우 여백 */
  margin: 0 18px;
}
.flex {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  /* 수직 가운데 정렬 */
  align-items: center;
}
button {
  display: inline-block;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}
.img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
a {
  text-decoration: none;
  color: currentColor;
}
/* ================ all end ================ */

/* ================ mobile start ================ */
/* ---------------- header start ---------------- */
.header {
  width: 100%;
  height: 50px;
  background-color: white;
}
.header>div {
  height: 100%;
}



#checkbox {
  position: absolute;
  top: -500px;
}
.bar {
  width: 50px;
  height: 50px;
}
.bar>.gnb {
  display: block;
  width: 50px;
  height: 50px;
  
  box-sizing: border-box;
  padding: 18px 0 0 18px;
}
.bar>.gnb>.gnb-box {
  position: relative;
  width: 17px; 
  height: 12px; 
  
}
.bar>.gnb>.gnb-box>.gnb-bar {
  background-color: black;
  position: absolute;
  width: 17px;
  height: 2px;

  transition: 0.5s;
}
.bar>.gnb>.gnb-box>.gnb-bar.top {
  top: 0%;
}
.bar>.gnb>.gnb-box>.gnb-bar.mid {
  top: 50%;
}
.bar>.gnb>.gnb-box>.gnb-bar.bot {
  top: 100%;
}

/* .bar:hover .nav {
  display: block;
}
.bar:hover .gnb>.gnb-box>.gnb-bar.top {
  top: 50%;
  transform: rotate(45deg);
}
.bar:hover .gnb>.gnb-box>.gnb-bar.mid {
  opacity: 0;
}
.bar:hover .gnb>.gnb-box>.gnb-bar.bot {
  top: 50%;
  transform: rotate(-45deg);
} */


#checkbox:checked + .bar>.nav {
  display: block;
}
#checkbox:checked + .bar>.gnb>.gnb-box>.gnb-bar.top {
  top: 50%;
  transform: rotate(45deg);
}
#checkbox:checked + .bar>.gnb>.gnb-box>.gnb-bar.mid {
  opacity: 0;
}
#checkbox:checked + .bar>.gnb>.gnb-box>.gnb-bar.bot {
  top: 50%;
  transform: rotate(-45deg);
}






.nav {
  /* 초기값: 숨김 */
  display: none;
  position: absolute;
  top: 50px;
  left: 0;

  background-color: white;
  width: 100%;
  height: 450px;

  z-index: 100;
}
.nav ul {
  display: block;
}
.line {
  background-color: black;
  width: 100%;
  height: 2px;
}
.nav .container {
  position: relative;

  box-sizing: border-box;
  margin: 0;
  padding: 35px 45px;
}
.nav .list {
  padding-bottom: 20px;
  font-size: 20pt;
  font-weight: bold;
}
.nav .list>.sub-tab {
  display: none;
  padding: 6px 0 0 13px;
  font-size: 12pt;
}
.nav .list>.sub-tab>a.sub-tab {
  display: inline-block;
  padding: 5px 0;
}
/* .list:hover a {
  display: block;
}
.list a:hover {
  text-decoration: underline;
} */
.nav .container>#brand_checkbox {
  position: absolute;
  top: -500px;
}
.nav .container>#brand_checkbox:checked + .list>.sub-tab {
  display: block;
}
.nav .container>#news_checkbox {
  position: absolute;
  top: -500px;
}
.nav .container>#news_checkbox:checked + .list>.sub-tab {
  display: block;
}
/* 언더라인.... */
.nav a {
  position: relative;
}
.nav a.tab::before {
  content: "";
  display: inline-block;
  background-color: gold;
  
  width: 0;
  height: 2px;

  position: absolute;
  top: 35px;
  left: 0;
  transition: 0.5s;
}
.nav a.sub-tab::before {
  content: "";
  display: inline-block;
  background-color: gold;
  
  width: 0;
  height: 2px;

  position: absolute;
  top: 23px;
  left: 0;
  transition: 0.5s;
}
.nav a:hover::before {
  width: 100%;
}
.logo {
  font-size: 15pt;
}
.location {
  width: 50px;
  height: 50px;
  padding: 16px 0 0 18px;
  box-sizing: border-box;

  font-size: 1.1rem;
  position: relative;
}
.location::before {
  content: "";
  display: inline-block;

  background-color: gold;
  width: 34px;
  height: 34px;
  border-radius: 30px;

  position: absolute;
  top: 8px;
  left: 8px;

  transform: rotateX(270deg);
  transition: 0.5s;
}
.location:hover::before {
  /* height: 34px; */
  transform: rotateX(0);
  /* transform: rotateY(360deg); */
}
.location:hover i {
  color: white;
}
.location i {
  position: relative;
  transition: 0.5s;
}
/* ---------------- header end ---------------- */








/* ---------------- main start ---------------- */
.main {
  position: relative;
  overflow: hidden;

  width: 100%;
  height: 450px;
}
input[type=radio] {
  display: none;
}
.main>.ab {
  /* 절대기준이 아닌 현재자리에서 왼쪽으로 가면 되기 때문에 relative 가능  */
  position: relative;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  transition: 1.5s;
}
.main .main-img {
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.main .main-img:nth-of-type(1) {
  background-image: url('../images/main-1.jpg');
  top: 0;
  left: 0;
}
.main .main-img:nth-of-type(2) {
  background-image: url('../images/main-2.jpg');
  top: 0;
  left: 100%;
}
.main .main-img:nth-of-type(3) {
  background-image: url('../images/main-3.jpg');
  top: 0;
  left: 200%;
}
.main>#main-dot1:checked ~ .ab {
  left: 0;
}
.main>#main-dot2:checked ~ .ab {
  left: -100%;
}
.main>#main-dot3:checked ~ .ab {
  left: -200%;
}
.main>input[id="main-dot1"]:checked ~ .flex>label[for="main-dot1"], 
.main>input[id="main-dot2"]:checked ~ .flex>label[for="main-dot2"],
.main>input[id="main-dot3"]:checked ~ .flex>label[for="main-dot3"]
{
  background-color: rgba(0, 0, 0, 1);
}
/* .main {
  position: relative;
  overflow: hidden;

  width: 100%;
  height: 450px;
}
input[type=radio] {
  display: none;
}
input[type=radio]:nth-of-type(1) {
  left: 20px;
}
input[type=radio]:nth-of-type(2) {
  left: 40px;
}
input[type=radio]:nth-of-type(3) {
  left: 60px;
}
.main>.ab {
  background-color: palegoldenrod;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  transition: 2s;
}
.main>.ab>.re {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: paleturquoise;
}
.main .main-img {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: palegreen;
  background-size: cover;
  background-position: center;
}
.main .main-img:nth-of-type(1) {
  background-image: url('../images/main-1.jpg');
  top: 0;
  left: 0;
}
.main .main-img:nth-of-type(2) {
  background-image: url('../images/main-2.jpg');
  top: 0;
  left: 100%;
}
.main .main-img:nth-of-type(3) {
  background-image: url('../images/main-3.jpg');
  top: 0;
  left: 200%;
}

.main>#main-dot1:checked ~ .ab {
  left: 0;
}
.main>#main-dot2:checked ~ .ab {
  left: -100%;
}
.main>#main-dot3:checked ~ .ab {
  left: -200%;
}

.main>input[id="main-dot1"]:checked ~ .flex>label[for="main-dot1"], 
.main>input[id="main-dot2"]:checked ~ .flex>label[for="main-dot2"],
.main>input[id="main-dot3"]:checked ~ .flex>label[for="main-dot3"]
{
  background-color: rgba(0, 0, 0, 1);
} */







.main .flex {
  position: absolute;
  top: 0;

  align-items: flex-end;
  justify-content: center;
}
.main .flex>label {
  width: 20px;
  height: 8px;
  border-radius: 10px;
  margin: 0 3px 10px 3px;
  background-color: rgba(0, 0, 0, 0.5);
}
.main .flex>label:hover {
  cursor: pointer;
}
/* ---------------- main end ---------------- */

/* ---------------- best start ---------------- */
.best {
  background-color: white;
  width: 100%;
  height: 300px;
}
.title {
  height: 65px;
  font-size: 15pt;
}
.title button {
  display: none;
  font-size: 15pt;
}
.title .flex {
  justify-content: space-around;
}
.best>.container:nth-of-type(2) {
  height: 167px;
}
.best .item {
  box-sizing: border-box;
  width: calc(100% / 3);
  height: 100%;
  padding-top: 5px;

  text-align: center;
}
.best .img {
  width: 100%;
  height: 108px;
  /* 임시 이미지주소 */
  background-image: url('../images/101.jpg');

  transition: 0.3s;
}
.best .img:hover {
  transform: scale(1.2);
}
.best .text {
  padding-top: 15px;
  font-size: 10pt;
}
.best .item:nth-of-type(4) {
  /* 모바일은 3개씩 노출 */
  /* 나머지는 슬라이드 */
  display: none;
}



.best>.container:nth-of-type(3) {
  height: 50px;
}
.best .box {
  background-color: black;
  width: 100%;
  height: 50px;

  color: white;
  font-size: 12pt;
}
.best .box:hover {
  box-sizing: border-box;
  border: 1px solid black;
  background-color: white;
  color: black;
}
/* 버튼 체인지 효과 안해 */
/* .best .all-menu {
  position: relative;
  overflow: hidden;
}
.best .all-menu::before {
  content: "";
  display: inline-block;

  background-color: white;
  width: 0;
  height: 50px;
  border: 1px solid black;
  box-sizing: border-box;

  position: absolute;
  transition: 0.3s;
}
.best .all-menu:hover::before {
  width: 100%;
}
.best .box>span {
  position: relative;
} */
/* ---------------- best end ---------------- */

/* ---------------- content start ---------------- */
.index-content {
  display: none;
}
/* ---------------- content end ---------------- */

/* ---------------- footer start ---------------- */
.footer {
  background-color: black;
  width: 100%;
  color: white;
}
.footer .flex {
  height: 70px;
  justify-content: center;
}
.footer .icon {
  margin: 0 15px;

  background-size: contain;
  background-repeat: no-repeat;
}
.footer .img {
  width: 24px;
  height: 24px;
}
.footer .face .img {
  background-image: url('../images/facebook.png');
}
.footer .insta .img {
  background-image: url('../images/instagram.png');
}
.footer .blog .img {
  background-image: url('../images/naverblog.png');
}
.footer .twit .img {
  background-image: url('../images/twitter.png');
}

/* 아이콘 체인지 */
.footer .icon>a {
  position: relative;
}
.footer .icon>a::before {
  content: "";
  display: inline-block;

  background-color: gold;
  width: 38px;
  height: 0;
  border-radius: 20px;

  position: absolute;
  top: -7px;
  left: -7px;
}
.footer .icon>a:hover::before {
  height: 38px;
}
.footer .icon>a:hover .img {
  transition: 0.5s;
  transform: rotateY(369deg);
  filter: brightness(0%);
}

.footer .container {
  position: relative;

  background-color: black;
  font-size: 10pt;
  text-align: center;
}
.footer #footer_checkbox {
  position: absolute;
  top: -1000px;
}
.footer .hover {
  padding-bottom: 20px;
}
.footer .text {
  padding-bottom: 17px;
  line-height: 13pt;
}
.footer .hide {
  /* 초기값: 숨김 */
  display: none;
  color: #6e6e6e;
}
#footer_checkbox:checked + .hover>.hide {
  display: block;
}
/* ---------------- footer end ---------------- */
/* ================ mobile end ================ */