@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Pacifico&display=swap');

/* all start */
p {
  font-family: 'Noto Sans KR', sans-serif;
}
.pacifico {
  font-family: 'Pacifico', cursive;
}
.wrap {
  /* 최소 너비 */
  width: 360px;

  /* 임시 */
  background-color: #eee; 
}
.container { 
  height: 100%;
  /* 좌우 여백 */
  margin: 0 18px;
}
.flex {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  /* 수직 가운데 정렬 */
  align-items: center;
}
button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
}
.img {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
/* all end */

/* header start */
.header {
  width: 100%;
  height: 50px;
  background-color: white;
}
.bar .fa-times {
  /* 초기값: 숨김 */
  display: none;
}
.logo {
  font-size: 17pt;
}
.nav {
  /* 초기값: 숨김 */
  display: none;
  position: absolute;
  top: 50px;

  background-color: white;
  /* 최소 너비 */
  width: 360px;
  height: 450px;
}
.nav .flex {
  display: block;
}
.line {
  background-color: black;
  width: 100%;
  height: 1px;
}
.nav .container {
  box-sizing: border-box;
  margin: 0;
  padding: 35px 45px;
}
.list {
  padding-bottom: 20px;
  font-size: 20pt;
  font-weight: bold;
}
/* header end */

/* main start */
.main {
  width: 100%;
  height: 450px;
  position: relative;
}
.main .img {
  /* 초기값: 숨김 */
  display: none;
  height: 100%;
  background-image: url('../images/main-m.jpg');
}
.main .img:nth-of-type(1) {
  display: block;
}
.main .flex {
  position: absolute;
  top: 0;
  align-items: flex-end;
  justify-content: center;
  font-size: 7pt;
}
.main p {
  margin-bottom: 10px;
  padding: 2px;
}
/* main end */

/* best start */
.best {
  background-color: white;
  width: 100%;
  height: 300px;
}
.title {
  height: 65px;
  font-size: 17pt;
}
.title button {
  font-size: 17pt;
}
.title .flex {
  justify-content: space-around;
}
.best>.container {
  height: 167px;
}
.best .item {
  box-sizing: border-box;
  width: calc(100% / 3);
  height: 100%;
  padding-top: 5px;

  text-align: center;
}
.best .img {
  width: 100%;
  height: 108px;
  /* 임시 이미지주소 */
  background-image: url('../images/101.jpg');
}
.best .text {
  padding-top: 15px;
  font-size: 10pt;
}
.best .item:nth-of-type(4) {
  /* 모바일은 3개씩 노출 */
  /* 나머지는 슬라이드 */
  display: none;
}
.best .box {
  background-color: black;
  width: 100%;
  height: 50px;

  color: white;
  font-size: 12pt;
}
/* best end */

/* content start */
.content {
  display: none;
}
/* content end */

/* footer start */
.footer {
  background-color: black;
  width: 100%;
  /* 열리면 높이 225px */
  /* height: 225px; */
  height: 150px;
  color: white;
}
.footer .flex {
  height: 60px;
  justify-content: center;
}
.footer .icon {
  padding: 0 10px;
  font-size: 15pt;
}
.footer .container {
  height: 90px;
  font-size: 10pt;
  text-align: center;
}
.footer .text {
  padding-bottom: 7px;
  line-height: 13pt;
}
.footer .text:nth-of-type(2) {
  /* 초기값: 숨김 */
  color: #6e6e6e;
  display: none;
}
/* footer end */