@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Pacifico&display=swap');

/* ================  ================ */
/* ----------------  ---------------- */

/* ================ all start ================ */
.sans {
  font-family: 'Noto Sans KR', sans-serif;
}
.pacifico {
  font-family: 'Pacifico', cursive;
}
.wrap {
  /* 모바일 최소 너비 */
  /* width: 360px; */
  width: 100%;
}
.container { 
  height: 100%;
  /* 좌우 여백 */
  margin: 0 18px;
}
.flex {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  /* 수직 가운데 정렬 */
  align-items: center;
}
button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
}
.img {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
a {
  text-decoration: none;
  color: currentColor;
}
/* ================ all end ================ */

/* ================ mobile start ================ */
/* ---------------- header start ---------------- */
.header {
  width: 100%;
  height: 50px;
  background-color: white;
}
.header>div {
  height: 100%;
}

#gnb_checkbox {
  position: absolute;
  top: -500px;
}
.bar {
  width: 50px;
  height: 50px;
}
.bar>.gnb {
  display: block;
  width: 50px;
  height: 50px;
  
  box-sizing: border-box;
  padding: 18px 0 0 18px;
}
.bar>.gnb>.gnb-box {
  position: relative;
  width: 17px; 
  height: 12px; 
}
.bar>.gnb>.gnb-box>.gnb-bar {
  background-color: black;
  position: absolute;
  width: 17px;
  height: 2px;

  transition: 0.5s;
}
.bar>.gnb>.gnb-box>.gnb-bar.top {
  top: 0%;
}
.bar>.gnb>.gnb-box>.gnb-bar.mid {
  top: 50%;
}
.bar>.gnb>.gnb-box>.gnb-bar.bot {
  top: 100%;
}
/* 
.bar:active .nav {
  display: block;
}
.bar:active .gnb>.gnb-box>.gnb-bar.top {
  top: 50%;
  transform: rotate(45deg);
}
.bar:active .gnb>.gnb-box>.gnb-bar.mid {
  opacity: 0;
}
.bar:active .gnb>.gnb-box>.gnb-bar.bot {
  top: 50%;
  transform: rotate(-45deg);
} */

#gnb_checkbox:checked + .bar>.nav {
  display: block;
}
#gnb_checkbox:checked + .bar>.gnb>.gnb-box>.gnb-bar.top {
  top: 50%;
  transform: rotate(45deg);
}
#gnb_checkbox:checked + .bar>.gnb>.gnb-box>.gnb-bar.mid {
  opacity: 0;
}
#gnb_checkbox:checked + .bar>.gnb>.gnb-box>.gnb-bar.bot {
  top: 50%;
  transform: rotate(-45deg);
}

.nav {
  /* 초기값: 숨김 */
  display: none;
  position: absolute;
  top: 50px;
  left: 0;

  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 450px;
}
.nav ul {
  display: block;
}
.line {
  background-color: black;
  width: 100%;
  height: 2px;
}
.nav .container {
  position: relative;

  box-sizing: border-box;
  margin: 0;
  padding: 35px 45px;
}
.nav .list {
  padding-bottom: 20px;
  font-size: 20pt;
  font-weight: bold;
}
.nav .list>.sub-tab {
  display: none;
  padding: 6px 0 0 13px;
  font-size: 12pt;
}
.nav .list>.sub-tab>a.sub-tab {
  display: inline-block;
  padding: 5px 0;
}
/* .list:hover a {
  display: block;
}
.list a:hover {
  text-decoration: underline;
} */
.nav .container>#brand_checkbox {
  position: absolute;
  top: -500px;
}
.nav .container>#brand_checkbox:checked + .list>.sub-tab {
  display: block;
}
.nav .container>#news_checkbox {
  position: absolute;
  top: -500px;
}
.nav .container>#news_checkbox:checked + .list>.sub-tab {
  display: block;
}

.logo {
  font-size: 15pt;
}
.location {
  width: 50px;
  height: 50px;
  padding: 16px 0 0 18px;
  box-sizing: border-box;

  font-size: 1.1rem;
}
/* ---------------- header end ---------------- */

/* ---------------- main start ---------------- */
.main {
  width: 100%;
  height: 450px;
}
.main .img {
  height: 100%;
  width: 100%;
  background-image: url('../images/main-1.jpg');
  background-size: cover;
}
.main .flex {
  align-items: flex-end;
  justify-content: center;
}
.main p {
  margin-bottom: 10px;
  padding: 2px;
  /* 피씨는 7pt로 하기 */
  font-size: 8pt;
}
/* ---------------- main end ---------------- */

/* ---------------- best start ---------------- */
.best {
  background-color: white;
  width: 100%;
  height: 300px;
}
.title {
  height: 65px;
  font-size: 15pt;
}
.title button {
  font-size: 15pt;
}
.title .flex {
  justify-content: space-around;
}
.best>.container {
  height: 167px;
}
.best .item {
  box-sizing: border-box;
  width: calc(100% / 3);
  height: 100%;
  padding-top: 5px;

  text-align: center;
}
.best .img {
  width: 100%;
  height: 108px;
  /* 임시 이미지주소 */
  background-image: url('../images/101.jpg');
}
.best .text {
  padding-top: 15px;
  font-size: 10pt;
}
.best .item:nth-of-type(4) {
  /* 모바일은 3개씩 노출 */
  /* 나머지는 슬라이드 */
  display: none;
}
.best .box {
  background-color: black;
  width: 100%;
  height: 50px;

  color: white;
  font-size: 12pt;
}
.best .box:hover {
  box-sizing: border-box;
  border: 1px solid black;
  background-color: white;
  color: black;
}
/* ---------------- best end ---------------- */

/* ---------------- content start ---------------- */
.content {
  display: none;
}
/* ---------------- content end ---------------- */

/* ---------------- footer start ---------------- */
.footer {
  background-color: black;
  width: 100%;
  color: white;
}
.footer .flex {
  height: 60px;
  justify-content: center;
}
.footer .icon {
  margin: 0 10px;

  background-size: contain;
  background-repeat: no-repeat;
}
.footer .img {
  width: 20px;
  height: 20px;
}
.footer .face .img {
  background-image: url('../images/facebook.png');
}
.footer .insta .img {
  background-image: url('../images/instagram.png');
}
.footer .blog .img {
  background-image: url('../images/naverblog.png');
}
.footer .twit .img {
  background-image: url('../images/twitter.png');
}
.footer .container {
  position: relative;

  background-color: black;
  font-size: 10pt;
  text-align: center;
}
.footer #footer_checkbox {
  position: absolute;
  top: -1000px;
}
.footer .hover {
  padding-bottom: 20px;
}
.footer .text {
  padding-bottom: 17px;
  line-height: 13pt;
}
.footer .hide {
  /* 초기값: 숨김 */
  display: none;
  color: #6e6e6e;
}
#footer_checkbox:checked + .hover>.hide {
  display: block;
}
/* ---------------- footer end ---------------- */
/* ================ mobile end ================ */