@import url('https://fonts.googleapis.com/css2?family=Anton&family=Michroma&family=Montserrat&family=Russo+One&display=swap');

/* 사용 폰트
font-family: 'Anton', sans-serif;
font-family: 'Michroma', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Russo One', sans-serif;
*/

/* 전체 레이아웃 */
.wrap {
width: 100vw;
height: 100vh;

perspective: 2000px;
}

/* 메뉴 버튼 */
.btnMenu {
  cursor: pointer;
  z-index: 3;
  position: absolute;
  top: 30px;
  left: 30px;
}

/* 메뉴 버튼 내 비스듬한 삼선 모양
   default: width: 0로 안보이게
   보일 때 width: 60px */
.btnMenu div {
  background-color: #ffffff;
  width: 0;
  height: 2px;
  margin-bottom: 5px;
  
  transform: skewX(-45deg);
  transition: 0.3s;
  transition-timing-function: ease-in-out;
}
.btnMenu div:nth-child(1) {
  margin-left: 20px;
}
.btnMenu div:nth-child(2) {
  margin-left: 10px;
}
.btnMenu div:nth-child(3) {
  margin-left: 0px;
}

/* 메뉴바가 사라지면 메뉴 버튼이 보임 */
.btnMenu.showbtn div {
  width: 60px;
}

/* 왼쪽 메인 메뉴바 */
.main-menu {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;

  background-color: #000000;
  width: 200px; 
  height: 100vh;

  color: #ffffff;
  font-size: 22px;
  font-family: 'Russo One', sans-serif;

  /* 3d 회전 설정 */
  transform-origin: left center;
  transform: rotateY(45deg);
  opacity: 1;

  transition: 0.3s;
  transition-timing-function: ease-in-out;
}

/* 메뉴리스트가 클릭되면 
   hide 클래스가 더해지면서
   메뉴바가 뒤로 회전되면서 사라짐 */
.main-menu.hideBar {
  transform: rotateY(110deg);
  opacity: 0;
}

/* 왼쪽 메인 메뉴바 안 로고 */
.main-menu .logo {
  display: block;
  width: 200px;
}

/* 왼쪽 메인 메뉴바 메뉴리스트 */
.main-menu .gnb {
  margin-top: 35vh;
}
.main-menu p {
  padding: 10px 25px;
  transition: 0.5s;
}
/* 왼쪽 메인 메뉴바 메뉴리스트 hover하면
   텍스트 색상이 바뀜 */
.main-menu p:hover {
  color: gray;
}

/* 컨텐츠 컨테이너 레이아웃 */
.container {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  /* 3d 회전 설정 */
  transform-origin: right center;
  transform: rotateY(-12deg);
  transition: 0.3s;
  transition-timing-function: ease-in-out;
}

.container.showContents {
  transform: rotateY(0deg);
}
.contents.show {
  opacity: 1;
}

.contents {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  /* opacity: 0; */

  font-size: 50px;
  text-align: center;
}
.contents:nth-of-type(1) {
  background-color: #ff950e;
}
.contents:nth-of-type(2) {
  background-color: #0357ca;
}
.contents:nth-of-type(3) {
  background-color: #b5b5b5;
}